{
  "host": "apigateway.serpro.gov.br",
  "consumes": [
    "application/json; charset=UTF-8"
    ],
  "produces": [
    "application/json; charset=UTF-8"
    ],
  "security": [
    {
      "Bearer": []
    }
  ],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "swagger": "2.0",
  "info": {
    "version": "api",
    "title": "Integração-SIAFI (api-siafi)",
    "description": "Para informações de como se autenticar antes de consumir as API, por favor, consulte a documentação em: http://devserpro.github.io/apiserpro/ \n\n    \nO serviço `Integração SIAFI` é disponibilizado através do `HTTP REST` oferencendo operações de lançamento ao SIAFI.\n<br>\n## Horário de Funcionamento \n A API Consulta Dívida Ativa funciona das 09:00 às 22:00 hs. Fora deste horário a API retornará o código 403, indicando que a API está fora do horário de funcionamento. \n<br>\n## Códigos de  Retorno não Tarifados \n| Código de retorno | Resumido | Explicação | \n| ------------- | :-------------------- | :------------------------------------------------------------------------------- |\n| 403           | Api Indisponível    | Api fora do horário de funcionamento  |\n| &nbsp;           | &nbsp;    | &nbsp;  |\n| 500 | Erro no Servidor | Ocorreu algum erro no servidor | \n<br>\n ## Campo cabeçalho da requisição (X-Request-Tag)\n\n  Este campo é opcional na utilização das chamadas às APIs / Datavalid e serve como identificador de requisições. Caso uma empresa necessite, por exemplo, agrupar a quantidade de requisições realizadas por cada departamento, poderá utilizar este campo de forma a identificar no faturamento a quantidade de requisições de cada item agrupador. \n<br><br>\n O campo é de texto livre (string até 32 caracteres) e não possui validação de seu conteúdo. Cabe, portanto, ao cliente manter o controle das informações que são enviadas para esse campo de forma que o relatório de faturamento faça o agrupamento adequado. \n<br><br>\nEste atributo pode ser usado pela entidade de classe e/ou grupo econômico na modalidade global com ônus entidade para fins de identificação do associado que realiza a requisição. No caso de entidades de classe ou grupos econômicos que realizem a contratação com ônus para o associado não é necessário realizar o agrupamento pois cada associado irá possuir sua própria chave de consumo. \n<br>\n ## Degustação \n ### Endereço base de Degustação \n    https://apigateway.serpro.gov.br/api-integra-siafi-trial/api \n<br>\n  ## Produção \n ### Endereço de Produção \n    https://apigateway.serpro.gov.br/api-integra-siafi-trial/api \n    "
  },
  "basePath": "/api-integra-siafi-trial/api",
  "paths": {
    "/v1/ne/consultar": {
      "post": {
        "deprecated": true,
        "tags": [
          "Nota de Empenho v1"
        ],
        "summary": "Consulta Nota de Empenho",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": "\n## Os métodos referentes a Nota de Empenho V1 foram descontinuados, favor utilizar a  V2 \n ## Exemplo\n#### Chamada\n    [POST] https://apigateway.serpro.gov.br/api-integra-siafi-deg/api/v1/ne/consultar\n#### Conteúdo do corpo \n\n    {\n      \"ano\": \"2018\",\n      \"ug\": \"010001\",\n      \"gestao\": \"00001\",\n      \"numero\": \"800017\"\n    }\n#### Retorno \n    {\n    codigo: 0\n    mensagem:\n      dataEmissao: 14Jun18\n      saldoPagar: ''\n      numeroNota: 2018NE800017\n      ugEmitente: '010001'\n      nomeUgEmitente: CAMARA DOS DEPUTADOS\n      gestaoEmitente: '00001'\n      nomeGestaoEmitente: TESOURO NACIONAL\n      nomeFavorecido: CAMARA DOS DEPUTADOS\n      tipoFavorecido: '4'\n      codigoFavorecido: '01000100001'\n      sicaf: ''\n      operacaoCambial: '0000000000'\n      observacao: TESTE NE-01\n      evento: '401091'\n      esfera: '1'\n      ptres: '000001'\n      fonte: '0100000000'\n      codigoND: '339030'\n      ugResponsavel: 010019\n      planoInterno: AAA\n      valorEmpenho: '00000000000000001'\n      tipoEmpenho: ORDINARIO\n      sistemaOrigem: APISIAFI\n      docReferenciaOriginal: ''\n      numDocReferencia: ''\n      passivoAnterior: NAO\n      contaPassivo: ''\n      nomeModalidade: NAO SE APLICA\n      nomeAmparo: ''\n      inciso: ''\n      numeroProcesso: 103.504/1999\n      indicadorPagPrecatorio: ''\n      siglaUF: DF\n      codigoMunicipioBeneficiado: '9701'\n      origemMaterial: NACIONAL\n      referenciaDispensa: ''\n      numeroOriginal: ''\n      informacoesLancamentos: 'LANCADO POR : 60165570644 - ANDERSON          UG : 010001   14Jun18   14:33'\n      contaCorrenteFinanceiro: F0100000000\n      contasPermanentes: []\n      numeroLista: 2018LI800043\n      subItens:\n        - numero: '00'\n          valor: '01'\n          seq: '000'\n          qtd: ''\n          valorTotal: '00000000000000001'\n          descricao: LISTA NE-01\n        - numero: '1'\n          valor: ''\n          seq: '000'\n          qtd: ''\n          valorTotal: ''\n          descricao: ''\n      subItensSaldo:\n        - numero: '01'\n          valor: '00000000000000001'\n      nsaldo: ''\n    erros: []\n    status: 200\n    }      ",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Dados da Nota de Empenho a ser consultada",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConsultaNE"
            }
          },
          {
            "description": "Campo opcional para identificar requisições. O conteúdo é um texto livre para que o cliente possa identificar a origem da requisição, não há validação do seu conteúdo pela API. Máximo 32 caracteres.",
            "name": "X-Request-Tag",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Retorna os dados da Nota de Empenho",
            "schema": {
              "$ref": "#/definitions/DadosNE"
            }
          },
          "400": {
            "description": "Algum campo enviado é inválido"
          },
          "403": {
            "description": "Usuário não tem permissão para realizar esta operação"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/v2/nota-dotacao/{ug}/{gestao}/{ano}/{numero}": {
      "get": {
        "tags": [
          "Nota de Dotação"
        ],
        "summary": "Consulta Nota de Dotação",
        "description": "Consulta uma Nota de Dotação a partir dos parâmetros UG, Gestão, Ano e Número da ND\n\n## Exemplo\n#### Chamada\n\n    https://apigateway.serpro.gov.br/api-integra-siafi-trial/api/v2/nota-dotacao/010001/00001/2018/800002\n    \n    No header:\n      x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN\n      (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo) \n\n#### Retorno\n    {\n      \"dataEmissao\": \"14MAI18\",\n      \"numeroDocumento\": \"2018ND800003\",\n      \"ugEmitente\": \"170999\",\n      \"nomeUGEmitente\": \"COORDENACAO GERAL DE CONTABILIDADE\",\n      \"gestaoEmitente\": \"00001\",\n      \"favorecido\": \"\",\n      \"nomeFavorecido\": \"\",\n      \"taxaCambio\": \"\",\n      \"observacao\": \"TESTE\", \n      \"listaEventos\": [\n        {\n          \"evento\": \"200031\",\n          \"esferaOrcamentaria\": \"1\",\n          \"ptres\": \"000019\",\n          \"fonteRecurso\": \"0100000000\",\n          \"naturezaDespesa\": \"339030\",\n          \"subitemND\": \"\",\n          \"ugr\": \"\",\n          \"planoInterno\": \"\", \n          \"valor\": \"100\",  \n        } \n      ]\n    }",
        "consumes": [
          "application/json; charset=UTF-8"
        ],
        "produces": [
          "application/json; charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "ug",
            "in": "path",
            "description": "Código da UG emitente",
            "required": true,
            "type": "string"
          },
          {
            "name": "gestao",
            "in": "path",
            "description": "Código da Gestão",
            "required": true,
            "type": "string"
          },
          {
            "name": "ano",
            "in": "path",
            "description": "Ano da Nota de Dotação",
            "required": true,
            "type": "string"
          },
          {
            "name": "numero",
            "in": "path",
            "description": "Número da Nota de Dotação",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-credencial",
            "in": "header",
            "description": "Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA], convertido em Base64. Nesse ambiente de testes, favor não preencher esse campo. Campo obrigatório no ambiente de produção.",
            "required": false,
            "type": "string"
          },
          {
            "description": "Campo opcional para identificar requisições. O conteúdo é um texto livre para que o cliente possa identificar a origem da requisição, não há validação do seu conteúdo pela API. Máximo 32 caracteres. Máximo 32 caracteres. Máximo 32 caracteres.",
            "name": "X-Request-Tag",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Nota de Dotação encontrada e retornada",
            "schema": {
              "$ref": "#/definitions/NotaDotacao"
            }
          },
          "400": {
            "description": "Algum campo possui informações inválidas"
          },
          "403": {
            "description": "Credencial informada não possui permissão para consulta a Nota de Dotação"
          },
          "404": {
            "description": "Nota de Dotação inexistente"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    }
  },
  "schemes": [
    "https"
  ],
  "definitions": {
    "NotaDotacao": {
      "properties": {
        "dataEmissao": {
          "type": "string"
        },
        "numeroDocumento": {
          "type": "string"
        },
        "ugEmitente": {
          "type": "string"
        },
        "nomeUgEmitente": {
          "type": "string"
        },
        "gestaoEmitente": {
          "type": "string"
        },
        "favorecido": {
          "type": "string"
        },
        "nomeFavorecido": {
          "type": "string"
        },
        "taxaCambio": {
          "type": "string"
        },
        "observacao": {
          "type": "string"
        }
      }
    },
    "ConsultaNE": {
      "properties": {
        "ano": {
          "type": "string"
        },
        "ug": {
          "type": "string"
        },
        "gestao": {
          "type": "string"
        },
        "numero": {
          "type": "string"
        }
      }
    },
    "DadosNE": {
      "properties": {
        "dataEmissao": {
          "type": "string"
        },
        "saldoPagar": {
          "type": "string"
        },
        "numeroNota": {
          "type": "string"
        },
        "ugEmitente": {
          "type": "string"
        },
        "nomeUgEmitente": {
          "type": "string"
        },
        "gestaoEmitente": {
          "type": "string"
        },
        "nomeGestaoEmitente": {
          "type": "string"
        },
        "nomeFavorecido": {
          "type": "string"
        },
        "tipoFavorecido": {
          "type": "string"
        },
        "codigoFavorecido": {
          "type": "string"
        },
        "sicaf": {
          "type": "string"
        },
        "operacaoCambial": {
          "type": "string"
        },
        "observacao": {
          "type": "string"
        },
        "evento": {
          "type": "string"
        },
        "esfera": {
          "type": "string"
        },
        "ptres": {
          "type": "string"
        },
        "fonte": {
          "type": "string"
        },
        "codigoND": {
          "type": "string"
        },
        "ugResponsavel": {
          "type": "string"
        },
        "planoInterno": {
          "type": "string"
        },
        "valorEmpenho": {
          "type": "string"
        },
        "tipoEmpenho": {
          "type": "string"
        },
        "sistemaOrigem": {
          "type": "string"
        },
        "docReferenciaOriginal": {
          "type": "string"
        },
        "numDocReferencia": {
          "type": "string"
        },
        "passivoAnterior": {
          "type": "string"
        },
        "contaPassivo": {
          "type": "string"
        },
        "nomeModalidade": {
          "type": "string"
        },
        "nomeAmparo": {
          "type": "string"
        },
        "inciso": {
          "type": "string"
        },
        "numeroProcesso": {
          "type": "string"
        },
        "indicadorPagPrecatorio": {
          "type": "string"
        },
        "siglaUF": {
          "type": "string"
        },
        "codigoMunicipioBeneficiado": {
          "type": "string"
        },
        "origemMaterial": {
          "type": "string"
        },
        "referenciaDispensa": {
          "type": "string"
        },
        "numeroOriginal": {
          "type": "string"
        },
        "informacoesLancamentos": {
          "type": "string"
        },
        "contaCorrenteFinanceiro": {
          "type": "string"
        }
      }
    }
  }
}
