{
  "host": "apigateway.serpro.gov.br",
  "security": [
    {
      "Bearer": []
    }
  ],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "CNPJ Massive Consultation DF (cnpj-consultation)",
    "description": "\n or information on authenticating before consuming the APIs, please refer to: http://devserpro.github.io/apiserpro/ \n\n  \n`The CNPJ Massive Consultation` ervice is available through `HTTP REST` offering consultation operation to the registration information of legal entities in Brazil.\n<br>\n  ## CNPJ Detailing\n\n  For a detailed description of the CNPJ access the link:\n  https://github.com/devserpro/apiserpro/raw/master/apis/swaggers/cnpj/detalhamento-CNPJ.pdf\n <br>\n## Non-ticketed Return Codes\n| Return Code | Summary | Explanation |\n| ------------- |:--------------------|:----------------------------------------------------------------------------- |\n| 400           | Invalid request    | The CNPJ registration number entered is not valid.       |\n| 500           | Server Error    | Some internal error has occurred.      |\n| 503           | Service Unavailable     |  Some service integrated with CNPJ Massive Consultation is currently unavailable.                         |\n<br>\n## Requesting Time Stamp signature\n\n  If you want your request to come with a Time Stamp signature, just include, in the header of your request, the `x-signature information: 1.`.\n  \n  The signature will be returned in the header of the reply, with the name `stamp`.\n<br>\n## Checking signature with Time Stamp\n\n To verify time stamp signature, follow the documentation instructions below:\n  \n[Documentation - Time Stamp Verification](https://devserpro.github.io/apiserpro/apis/swagger-ui-master/dist/index.html?bearer=4e1a1858bdd584fdc077fb7d80f39283&url=https://devserpro.github.io/apiserpro/apis/swaggers/carimbo-tempo/swagger-timestampcheck-trial-bsa.json#!/default/post_check)\n<br>     \n \n## Request Header Field (X-Request-Tag)\n\n  This field is optional when using API / Datavalid calls and serves as a request identifier. If a company needs, for example, to group the number of requests made by each department, you can use this field to identify in invoicing the number of requests of each grouping item. \n<br><br>\n The field is free text (string up to 32 characters) and has no validation of its content. It is therefore up to the customer to keep track of the information that is sent to this field so that the billing report does the proper grouping. \n<br><br>\n This attribute may be used by the class entity and / or economic group in the global entity-burden mode for the purpose of identifying the requesting member. In the case of class entities or economic groups that contract with a charge to the member, it is not necessary to group because each member will have his own consumption key.\n<br>\n ## Production \n ### Base Production Address\n \n    https://apigateway.serpro.gov.br/consulta-cnpj-df/v1\n   \n<br>\n## Degustation \n ### Degustation Base Address\n\n    https://apigateway.serpro.gov.br/consulta-cnpj-df-trial/v1\n    \n<br>"
  },
  "basePath": "/consulta-cnpj-df/v1",
  "paths": {
    "/cnpj/{ni}": {
      "get": {
        "tags": [
          "Consulta CNPJ DF"
        ],
        "summary": "Check the CNPJ DF",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": "Returns the data of the National Register of Legal Entities (CNPJ)\n### NI for Degustation\n| NI |\n| ---------------------- |\n| 34238864000168 |\n| 54447820000155 |\n| 46768703000165 |\n| 31151791000184 |\n| 34428654000132 |\n| 06115832000130 |\n| 78078291000128 |\n| 52293473000128 |\n| 07781066000105 |\n| 60367129000164 |\n --------------------------     \n\n## Exemple\n\n  #### Call\n  \n    [GET] https://apigateway.serpro.gov.br/consulta-cnpj-df/v1/cnpj/34238864000168\n    \n  #### Return\n  \n    {\n       \"ni\":\"34238864000168\",\n       \"data_abertura\":\"1967-06-30\",\n       \"nome_empresarial\":\"SERVICO DE E-COMERCE LTDA\",\n       \"nome_fantasia\":\"E-COMERCE\",\n       \"cnae_principal\":{\n          \"codigo\":\"6204000\",\n          \"descricao\":\"Consultoria em e-comerce\"\n       },\n       \"natureza_juridica\":{\n          \"codigo\":\"2011\",\n          \"descricao\":\"Empresa Privada\"\n       },\n       \"endereco\":{\n          \"logradouro\":\"ST DE GRANDE AREA NORTE\",\n          \"numero\":\"Q.601\",\n          \"complemento\":\"LOTE V\",\n          \"cep\":\"70836900\",\n          \"bairro\":\"ASA NORTE\",\n          \"municipio\":\"BRASILIA\",\n          \"uf\":\"DF\"\n       },\n       \"situacao_especial\":\"\",\n       \"situacao_cadastral\":{\n          \"codigo\":\"2\",\n          \"data\":\"2004-05-22\",\n          \"motivo\":\"\"\n       },\n       \"orgao\":\"0110100\",\n       \"tipo_estabelecimento\":\"1\",\n       \"correio_eletronico\":\"\",\n       \"capital_social\":0,\n       \"porte\":\"05\",\n       \"telefones\":[\n          {\n             \"ddd\":\"061\",\n             \"numero\":\"4338456\"\n          }\n       ],\n       \"nome_orgao\":\"BRASILIA\",\n       \"ente_federativo\":\"BR\"\n    }        ",
        "parameters": [
          {
            "description": "CNPJ registration number",
            "name": "ni",
            "type": "string",
            "required": true,
            "in": "path"
          },
          {
            "description": "Time stamp signature request. Enter 1 to sign, or leave blank not to sign.",
            "name": "x-signature",
            "in": "header",
            "type": "string"
          },
          {
            "description": "Optional field to identify requests. The content is free text so that the client can identify the origin of the request, there is no validation of its content by the API. Maximum 32 characters",
            "name": "X-Request-Tag",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/CNPJ"
            },
            "description": "Return Entity data"
          },
          "400": {
            "description": "The Registration Number entered is not valid"
          },
          "404": {
            "description": "There is no Legal Entity with the Registration Number entered"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/status": {
      "get": {
        "tags": [
          "Status"
        ],
        "summary": "Check API Status",
        "responses": {
          "200": {
            "description": "Service Available"
          },
          "500": {
            "description": "Service Unavailable"
          }
        }
      }
    }
  },
  "schemes": [
    "https"
  ],
  "definitions": {
    "CNPJ": {
      "properties": {
        "ni": {
          "type": "string"
        },
        "data_abertura": {
          "type": "string"
        },
        "nome_empresarial": {
          "type": "string"
        },
        "nome_fantasia": {
          "type": "string"
        },
        "cnae_principal": {
          "$ref": "#/definitions/CodigoDescricao"
        },
        "natureza_juridica": {
          "$ref": "#/definitions/CodigoDescricao"
        },
        "endereco": {
          "$ref": "#/definitions/Endereco"
        },
        "situacao_especial": {
          "type": "string"
        },
        "situacao_cadastral": {
          "$ref": "#/definitions/SituacaoCadastral"
        },
        "orgao": {
          "type": "string"
        },
        "tipo_estabelecimento": {
          "type": "string"
        },
        "correio_eletronico": {
          "type": "string"
        },
        "capital_social": {
          "type": "string"
        },
        "porte": {
          "type": "string"
        },
        "telefones": {
          "items": {
            "$ref": "#/definitions/Telefone"
          },
          "type": "array"
        },
        "nome_orgao": {
          "type": "string"
        },
        "ente_federativo": {
          "type": "string"
        },
        "data_situacao_especial": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "CodigoDescricao": {
      "properties": {
        "codigo": {
          "type": "string"
        },
        "descricao": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Endereco": {
      "properties": {
        "bairro": {
          "type": "string"
        },
        "complemento": {
          "type": "string"
        },
        "cep": {
          "type": "string"
        },
        "municipio": {
          "type": "string"
        },
        "uf": {
          "type": "string"
        },
        "logradouro": {
          "type": "string"
        },
        "numero": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "SituacaoCadastral": {
      "properties": {
        "codigo": {
          "type": "string"
        },
        "motivo": {
          "type": "string"
        },
        "data": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Telefone": {
      "properties": {
        "ddd": {
          "type": "string"
        },
        "numero": {
          "type": "string"
        }
      },
      "type": "object"
    }
  }
}
