{
  "host": "apigateway.serpro.gov.br",
  "security": [
    {
      "Bearer": []
    }
  ],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Consulta Massiva CNPJ (consulta-cnpj)",
    "description": "\n Para obtener información sobre cómo autenticarse antes de consumir las API, por favor, consulte la documentación en: http://devserpro.github.io/apiserpro/ \n\n  \nEl servicio de `Consulta Massiva CNPJ` está disponible a través de `HTTP REST` que ofrece operaciones de consulta a la información de registro de Personas Jurídicas en Brasil.\n<br>\n  ## Detalles del CNPJ\n\n  Para un desglose del CNPJ, acceda al enlace:\n  https://github.com/devserpro/apiserpro/raw/master/apis/swaggers/cnpj/detalhamento-CNPJ.pdf\n <br>\n## Códigos de Retorno no Facturados\n| Código de retorno | Resumido | Explicación |\n| ------------- |:--------------------|:----------------------------------------------------------------------------- |\n| 400           | Solicitud no válida    | El número de registro CNPJ ingresado no es válido.      |\n| 500           | Error del servidor     | Se ha producido un error interno.      |\n| 503           | Servicio no disponible     |  Algunos servicios integrados a la Consulta Massiva CNPJ no están disponibles en este momento.                        |\n<br>\n## Solicitud de firma de sello de tiempo\n\n  Si desea que su solicitud venga con una firma de Sello de Tiempo, simplemente incluya la información de la  `X-signature en el encabezado de su solicitud: 1.`.\n  \n  La firma será devuelta en el encabezado de la respuesta, con el nombre `stamp`.\n<br>\n## Comprobando firma de Sello de Tiempo\n\n  Para comprobar la firma del sello de tiempo, siga las instrucciones de la siguiente documentación:\n  \n[Documentación - Verificación de sello de tiempo](https://devserpro.github.io/apiserpro/apis/swagger-ui-master/dist/index.html?bearer=4e1a1858bdd584fdc077fb7d80f39283&url=https://devserpro.github.io/apiserpro/apis/swaggers/carimbo-tempo/swagger-timestampcheck-trial-bsa.json#!/default/post_check)\n<br>     \n \n## Campo encabezado de la solicitud  (X-Request-Tag)\n\n  Este campo es opcional cuando se utilizan las llamadas a las APIs / Datavalid y sirve como identificador de solicitudes. Si una empresa necesita, por ejemplo, agrupar la cantidad de solicitudes realizadas por cada departamento, puede utilizar este campo para identificar en la facturación la cantidad de solicitudes para cada posición de agrupación. \n<br><br>\n El campo es de texto libre (string de hasta 32 caracteres) y no tiene validación de su contenido. Cabe, por lo tanto, al cliente mantener un control de la información que se envía a este campo para que el informe de facturación haga la agrupación adecuada. \n<br><br>\n Este atributo puede ser utilizado por la entidad de clase y/o el grupo económico en la modalidad global con entidad de carga con el fin de identificar al asociado que realiza la solicitud. En el caso de entidades de clase o grupos económicos que realicen la contratación con cargo para el asociado, no es necesario realizar la agrupación porque cada asociado tendrá su propia clave de consumo.\n<br>\n ## Producción \n ### Dirección base de Producción\n \n    https://apigateway.serpro.gov.br/consulta-cnpj/v1\n   \n<br>\n## Degustación \n ### Dirección base de Degustación\n\n    https://apigateway.serpro.gov.br/consulta-cnpj-trial/v1\n    \n<br>"
  },
  "basePath": "/consulta-cnpj/v1",
  "paths": {
    "/cnpj/{ni}": {
      "get": {
        "tags": [
          "Consulta CNPJ"
        ],
        "summary": "Consulta de CNPJ",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": "Devuelve los datos del Registro de Persona Jurídica (CNPJ)\n### NI para Degustación\n| NI |\n| ---------------------- |\n| 34238864000168 |\n| 54447820000155 |\n| 46768703000165 |\n| 31151791000184 |\n| 34428654000132 |\n| 06115832000130 |\n| 78078291000128 |\n| 52293473000128 |\n| 07781066000105 |\n| 60367129000164 |\n --------------------------     \n\n## Ejemplo\n\n  #### Llamada\n  \n    [GET] https://apigateway.serpro.gov.br/consulta-cnpj/v1/cnpj/34238864000168\n    \n  #### Retorno\n  \n    {\n       \"ni\":\"34238864000168\",\n       \"data_abertura\":\"1967-06-30\",\n       \"nome_empresarial\":\"SERVICO DE E-COMERCE LTDA\",\n       \"nome_fantasia\":\"E-COMERCE\",\n       \"cnae_principal\":{\n          \"codigo\":\"6204000\",\n          \"descricao\":\"Consultoria em e-comerce\"\n       },\n       \"natureza_juridica\":{\n          \"codigo\":\"2011\",\n          \"descricao\":\"Empresa Privada\"\n       },\n       \"endereco\":{\n          \"logradouro\":\"ST DE GRANDE AREA NORTE\",\n          \"numero\":\"Q.601\",\n          \"complemento\":\"LOTE V\",\n          \"cep\":\"70836900\",\n          \"bairro\":\"ASA NORTE\",\n          \"municipio\":\"BRASILIA\",\n          \"uf\":\"DF\"\n       },\n       \"situacao_especial\":\"\",\n       \"situacao_cadastral\":{\n          \"codigo\":\"2\",\n          \"data\":\"2004-05-22\",\n          \"motivo\":\"\"\n       },\n       \"orgao\":\"0110100\",\n       \"tipo_estabelecimento\":\"1\",\n       \"correio_eletronico\":\"\",\n       \"capital_social\":0,\n       \"porte\":\"05\",\n       \"telefones\":[\n          {\n             \"ddd\":\"061\",\n             \"numero\":\"4338456\"\n          }\n       ],\n       \"nome_orgao\":\"BRASILIA\",\n       \"ente_federativo\":\"BR\"\n    }        ",
        "parameters": [
          {
            "description": "Numero de inscripción en el CNPJ",
            "name": "ni",
            "type": "string",
            "required": true,
            "in": "path"
          },
          {
            "description": "Solicitud de firma de sello de tiempo. Ingrese 1 para firmar, o deje en blanco para no firmar.",
            "name": "x-signature",
            "in": "header",
            "type": "string"
          },
          {
            "description": "Campo opcional para identificar solicitudes. El contenido es de texto libre para que el cliente pueda identificar el origen de la solicitud, no hay validación de su contenido por parte de la API. Máximo 32 caracteres.",
            "name": "x-Request-Tag",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/CNPJ"
            },
            "description": "Devuelve datos de la Persona Jurídica"
          },
          "400": {
            "description": "El número ingresado no es válido."
          },
          "404": {
            "description": "No existe ningún Persona Jurídica con el número ingresado."
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/status": {
      "get": {
        "tags": [
          "Status"
        ],
        "summary": "Verificar estado de API",
        "responses": {
          "200": {
            "description": "Servicio disponible"
          },
          "500": {
            "description": "Servicio no disponible"
          }
        }
      }
    }
  },
  "schemes": [
    "https"
  ],
  "definitions": {
    "CNPJ": {
      "properties": {
        "ni": {
          "type": "string"
        },
        "data_abertura": {
          "type": "string"
        },
        "nome_empresarial": {
          "type": "string"
        },
        "nome_fantasia": {
          "type": "string"
        },
        "cnae_principal": {
          "$ref": "#/definitions/CodigoDescricao"
        },
        "natureza_juridica": {
          "$ref": "#/definitions/CodigoDescricao"
        },
        "endereco": {
          "$ref": "#/definitions/Endereco"
        },
        "situacao_especial": {
          "type": "string"
        },
        "situacao_cadastral": {
          "$ref": "#/definitions/SituacaoCadastral"
        },
        "orgao": {
          "type": "string"
        },
        "tipo_estabelecimento": {
          "type": "string"
        },
        "correio_eletronico": {
          "type": "string"
        },
        "capital_social": {
          "type": "string"
        },
        "porte": {
          "type": "string"
        },
        "telefones": {
          "items": {
            "$ref": "#/definitions/Telefone"
          },
          "type": "array"
        },
        "nome_orgao": {
          "type": "string"
        },
        "ente_federativo": {
          "type": "string"
        },
        "data_situacao_especial": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "CodigoDescricao": {
      "properties": {
        "codigo": {
          "type": "string"
        },
        "descricao": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Endereco": {
      "properties": {
        "bairro": {
          "type": "string"
        },
        "complemento": {
          "type": "string"
        },
        "cep": {
          "type": "string"
        },
        "municipio": {
          "type": "string"
        },
        "uf": {
          "type": "string"
        },
        "logradouro": {
          "type": "string"
        },
        "numero": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "SituacaoCadastral": {
      "properties": {
        "codigo": {
          "type": "string"
        },
        "motivo": {
          "type": "string"
        },
        "data": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Telefone": {
      "properties": {
        "ddd": {
          "type": "string"
        },
        "numero": {
          "type": "string"
        }
      },
      "type": "object"
    }
  }
}
