{
  "host": "apigateway.serpro.gov.br",
  "security": [
    {
      "Bearer": []
    }
  ],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Consult Massive CPF DF (cpf- consultation)",
    "description": "\n  ### Documentación en español haga clic [`AQUÍ.`](https://devserpro.github.io/apiserpro/apis/swagger-ui-master/dist/index.html?bearer=4e1a1858bdd584fdc077fb7d80f39283&url=https://devserpro.github.io/apiserpro/apis/swaggers/cpf/swagger-cpf-df-trial-bsa-es.json#!/) \n For information on authenticating before consuming the APIs, please refer to the documentation at: http://devserpro.github.io/apiserpro/ \n\n`The CPF Massive Consultation` service is made available through `HTTP REST` offering a consultation operation for the registration information of Individuals in Brazil.\n<br>\n ## Non-ticketed Return Codes \n| Return Code | Summary | Explanation |\n| ------------- |:--------------------|:-----------------------------------------------------------------------------|\n| 400           | Invalid request  | The CPF Registration Number entered is not valid. |\n| 500           | Server Error    | Some internal error has occurred.      |\n<br>\n## Returned Field Types\n\n| Field Types  | Return Value |\n| ---------------------- | :------------------------------------------------------------- |\n| NI        | Individual Registration Number, in the 99999999999 format |\n| Name     | Name of the Individual  |\n| Status | Registration Status of the Individual, formed by two fields: Code and Description..|\n| Status/Code | Registration Status Code of the Individual |\n| Situation/Description | Description of Registration Status of the Individual |\n<br>\n ## Returned Registration Status Types\n\n\n| Code | Description |\n| ---------------------- | :------------------------------------------------------------- |\n| 0 | Regular |\n| 2 | Suspended  |\n| 3 | Deceased Holder  |\n| 4 | Pending Regularization |\n| 5 | Canceled by Multiplicity |\n| 8 | Null |\n| 9 | Canceled from Office |\n<br>\n## Requesting Time Stamp signature\n\n  If you want your request to come with a Time Stamp signature, just include, in the header of your request, the `x-signature information: 1`.\n  \n  The signature will be returned in the header of the reply, with the name`stamp`.\n<br>\n## Checking signature with Time Stamp\n  To verify time stamp signature, follow the documentation instructions below:\n  \n[Documentation - Time Stamp Verification](https://devserpro.github.io/apiserpro/apis/swagger-ui-master/dist/index.html?bearer=4e1a1858bdd584fdc077fb7d80f39283&url=https://devserpro.github.io/apiserpro/apis/swaggers/carimbo-tempo/swagger-timestampcheck-trial-bsa.json#!/default/post_check)\n<br>\n## Request Header Field (X-Request-Tag)\n\n  This field is optional when using API / Datavalid calls and serves as a request identifier. If a company needs, for example, to group the number of requests made by each department, you can use this field to identify in invoicing the number of requests of each grouping item. \n<br><br>\n The field is free text (string up to 32 characters) and has no validation of its content. It is therefore up to the customer to keep track of the information that is sent to this field so that the billing report does the proper grouping. \n<br><br>\n This attribute may be used by the class entity and / or economic group in the global entity-burden mode for the purpose of identifying the requesting member. In the case of class entities or economic groups that contract with a charge to the member, it is not necessary to group because each member will have his own consumption key.\n<br>\n## Production\n### Base Production Address\n \n    https://apigateway.serpro.gov.br/consulta-cpf-df/v1 \n    \n## Degustation\n\n    \n\n### Degustation Base Address\n\n    https://apigateway.serpro.gov.br/consulta-cpf-df-trial/v1 \n    "
  },
  "basePath": "/consulta-cpf-df-trial/v1",
  "paths": {
    "/cpf/{ni}": {
      "get": {
        "tags": [
          "Consulta CPF DF"
        ],
        "summary": "Check the CPF DF",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": "Return Individual Registration Number (CPF) data\n### CPF's Available for Degustation\n| CPF | Registration Status |\n| ---------------------- | :------------------------------------------------------------- |\n| 40442820135 | CPF Regular |\n| 63017285995 | CPF Regular |\n| 91708635203 | CPF Regular  |\n| 58136053391 | CPF Regular |    \n| 40532176871 | Suspended |\n| 47123586964 | Suspended |\n| 07691852312 | Pending Regularization |\n| 10975384600 | Pending Regularization |\n| 01648527949 | Canceled by Multiplicity |\n| 47893062592 | Canceled by Multiplicity |\n| 98302514705 | Null |    \n| 18025346790 | Null |\n| 64913872591 | Canceled from Office |\n| 52389071686 | Canceled from Office |\n| 05137518743 | Deceased Holder |\n| 08849979878 | Deceased Holder |\n\n --------------------------     \n\n## Exemple\n\n  #### Call\n  \n    https://apigateway.serpro.gov.br/consulta-cpf-df-trial/v1/cpf/40442820135\n    \n  #### Return\n  \n    {\n      \"ni\":\"40442820135\",\n      \"nome\":\"Nome do CPF 404.428.201-35\",\n      \"situacao\":\n      {\n        \"codigo\":\"0\",\n        \"descricao\":\"Regular\"\n      }\n    }        ",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "CPF registration number",
            "name": "ni",
            "type": "string",
            "required": true,
            "in": "path"
          },
          {
            "description": "Time stamp signature request. Enter 1 to sign, or leave blank not to sign.",
            "name": "x-signature",
            "in": "header",
            "type": "string"
          },
          {
            "description": "Optional field to identify requests. The content is free text so that the client can identify the origin of the request, there is no validation of its content by the API. Maximum 32 characters.",
            "name": "x-Request-Tag",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Return individual data",
            "headers": {
              "stamp": {
                "type": "string",
                "description": "Carimbo de Tempo"
              }
            },
            "schema": {
              "$ref": "#/definitions/CPF"
            }
          },
          "206": {
            "description": "Partial content, the information was returned, but not completely."
          },
          "400": {
            "description": "The CPF number entered is not valid."
          },
          "404": {
            "description": "There is no CPF with the registration number entered."
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/status": {
      "get": {
        "tags": [
          "Status"
        ],
        "summary": "check status API",
        "responses": {
          "200": {
            "description": "Available service"
          },
          "500": {
            "description": "Unavailable service"
          }
        }
      }
    }
  },
  "consumes": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "definitions": {
    "CPF": {
      "type": "object",
      "properties": {
        "ni": {
          "type": "string",
          "description": "Ex: 99999999999"
        },
        "nome": {
          "type": "string",
          "description": "Ex: PESSOA FISICA DA SILVA"
        },
        "situacao": {
          "properties": {
            "codigo": {
              "type": "string",
              "description": "Ex: 0"
            },
            "descricao": {
              "type": "string",
              "description": "Ex: REGULAR"
            }
          }
        }
      }
    }
  }
}
