{
  "host": "apigateway.serpro.gov.br",
  "security": [
    {
      "Bearer": []
    }
  ],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Consulta Massiva CPF DF (consulta-cpf)",
    "description": "\nPara obtener información sobre cómo autenticarse antes de consumir las API, por favor, consulte la documentación en: http://devserpro.github.io/apiserpro/ \n\nEl servicio de `Consulta Massiva CPF` está disponible a través de `HTTP REST` que ofrece operaciones de consulta a la información de registro de Personas Físicas en Brasil.\n<br>\n ## Códigos de Retorno no Facturados \n| Código de retorno | Resumido | Explicación |\n| ------------- |:--------------------|:-----------------------------------------------------------------------------|\n| 400           | Solicitud no válida  | El número de registro CPF ingresado no es válido. |\n| 500           | Error del servidor     | Se ha producido un error interno.      |\n<br>\n## Tipos de Campo Devueltos\n\n| Tipos de campos | Valor de retorno |\n| ---------------------- | :------------------------------------------------------------- |\n| NI        | Número de Inscripción en el Registro de Personas Físicas, en el formato 99999999999 |\n| Nombre     | Nombre de la Persona Física  |\n| Situación | Situación de Registro de Persona Física, formado por dos campos: Código y Descripción.|\n| Situación/Código  | Código de Situación de Registro Persona Física |\n| Situación/Descripción | Descripción de la Situación de Registro Persona Física |\n<br>\n ## Tipos de Situación de Registro Devueltas\n\n\n| Código | Descrição |\n| ---------------------- | :------------------------------------------------------------- |\n| 0 | Regular |\n| 2 | Suspendida  |\n| 3 | Titular Fallecido  |\n| 4 | Pendiente de Regularización |\n| 5 | Cancelada por Multiplicidad |\n| 8 | Nula |\n| 9 | Cancelada de Ofício |\n<br>\n## Solicitud de firma de sello de tiempo\n\n  Si desea que su solicitud venga con una firma de Sello de Tiempo, simplemente incluya la información de la `X-signature en el encabezado de su solicitud: 1.`.\n  \n  La firma será devuelta en el encabezado de la respuesta, con el nombre `stamp`.\n<br>\n## Comprobando firma de Sello de Tiempo\n  Para comprobar la firma del sello de tiempo, siga las instrucciones de la siguiente documentación:\n  \n[Documentación - Verificación de sello de tiempo](https://devserpro.github.io/apiserpro/apis/swagger-ui-master/dist/index.html?bearer=4e1a1858bdd584fdc077fb7d80f39283&url=https://devserpro.github.io/apiserpro/apis/swaggers/carimbo-tempo/swagger-timestampcheck-trial-bsa.json#!/default/post_check)\n<br>\n## Campo encabezado de la solicitud (X-Request-Tag)\n\n  Este campo es opcional cuando se utilizan las llamadas a las APIs / Datavalid y sirve como identificador de solicitudes. Si una empresa necesita, por ejemplo, agrupar el número de solicitudes realizadas por cada departamento, puede utilizar este campo para identificar en la facturación la cantidad de solicitudes de cada ítem agrupador. \n<br><br>\n El campo es de texto libre (string de hasta 32 caracteres) y no tiene validación de su contenido. Cabe, por lo tanto, al cliente mantener un control de la información que se envía a este campo para que el informe de facturación haga la agrupación adecuada. \n<br><br>\n Este atributo puede ser utilizado por la entidad de clase y/o el grupo económico en la modalidad global con entidad de carga con el fin de identificar al asociado que realiza la solicitud. En el caso de entidades de clase o grupos económicos que realicen la contratación con cargo para el asociado, no es necesario realizar la agrupación porque cada asociado tendrá su propia clave de consumo.\n<br>\n## Producción\n### Dirección Base de Producción\n \n    https://apigateway.serpro.gov.br/consulta-cpf-df/v1 \n    \n## Degustación\n\n    \n\n### Dirección Base de Degustación\n\n    https://apigateway.serpro.gov.br/consulta-cpf-df-trial/v1 \n    "
  },
  "basePath": "/consulta-cpf-df/v1",
  "paths": {
    "/cpf/{ni}": {
      "get": {
        "tags": [
          "Consulta CPF DF"
        ],
        "summary": "Consulta de CPF DF",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": "Devuelve los datos del Registro de Personas Físicas (CPF)\n### CPF's Disponibles para Degustación\n| CPF | Situación de Registro |\n| ---------------------- | :------------------------------------------------------------- |\n| 40442820135 | CPF Regular |\n| 63017285995 | CPF Regular |\n| 91708635203 | CPF Regular  |\n| 58136053391 | CPF Regular |    \n| 40532176871 | Suspendida |\n| 47123586964 | Suspendida |\n| 07691852312 | Pendiente de Regularización |\n| 10975384600 | Pendiente de Regularización |\n| 01648527949 | Cancelada por Multiplicidad |\n| 47893062592 | Cancelada por Multiplicidad |\n| 98302514705 | Nula |    \n| 18025346790 | Nula |\n| 64913872591 | Cancelada de Ofício |\n| 52389071686 | Cancelada de Ofício |\n| 05137518743 | Titular Fallecido |\n| 08849979878 | Titular Fallecido |\n\n --------------------------     \n\n## Ejemplo\n\n  #### Llamada\n  \n    https://apigateway.serpro.gov.br/consulta-cpf-df/v1/cpf/40442820135\n    \n  #### Retorno\n  \n    {\n      \"ni\":\"40442820135\",\n      \"nome\":\"Nome do CPF 404.428.201-35\",\n      \"situacao\":\n      {\n        \"codigo\":\"0\",\n        \"descricao\":\"Regular\"\n      }\n    }        ",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Numero de inscripción en el CPF",
            "name": "ni",
            "type": "string",
            "required": true,
            "in": "path"
          },
          {
            "description": "Solicitud de firma de sello de tiempo. Ingrese 1 para firmar, o deje en blanco para no firmar.",
            "name": "x-signature",
            "in": "header",
            "type": "string"
          },
          {
            "description": "Campo opcional para identificar solicitudes. El contenido es de texto libre para que el cliente pueda identificar el origen de la solicitud, no hay validación de su contenido por parte de la API. Máximo 32 caracteres.",
            "name": "x-Request-Tag",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve datos de la Persona Física",
            "headers": {
              "stamp": {
                "type": "string",
                "description": "Sello de tiempo"
              }
            },
            "schema": {
              "$ref": "#/definitions/CPF"
            }
          },
          "206": {
            "description": "Partial content, la información fue devuelta, pero no completamente."
          },
          "400": {
            "description": "El número de CPF ingresado no es válido."
          },
          "404": {
            "description": "No existe ningún CPF con el número ingresado."
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/status": {
      "get": {
        "tags": [
          "Status"
        ],
        "summary": "Verificar estado de API",
        "responses": {
          "200": {
            "description": "Servicio disponible"
          },
          "500": {
            "description": "Servicio no disponible"
          }
        }
      }
    }
  },
  "consumes": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "definitions": {
    "CPF": {
      "type": "object",
      "properties": {
        "ni": {
          "type": "string",
          "description": "Ex: 99999999999"
        },
        "nome": {
          "type": "string",
          "description": "Ex: PESSOA FISICA DA SILVA"
        },
        "situacao": {
          "properties": {
            "codigo": {
              "type": "string",
              "description": "Ex: 0"
            },
            "descricao": {
              "type": "string",
              "description": "Ex: REGULAR"
            }
          }
        }
      }
    }
  }
}
