{
  "openapi": "3.0.1",
  "info": {
    "title": "API Consulta NF-e (modalidade Direto na Faixa)",
    "description": "O serviço **Nota Fiscal Eletrônica** é disponibilizado através do **HTTP REST**, oferecendo operações para consulta de notas fiscais eletrônicas, e também para recebimento de notificações de atualizações de determinadas notas, através de monitoração de sua chave de acesso.<br/><br/>\nPara testes no ambiente trial, use o token de acesso: `Bearer 4e1a1858bdd584fdc077fb7d80f39283` e as chaves da [Lista de Chaves para teste](https://cliente.serpro.gov.br)<br/><br/>\nPara testes no ambiente produtivo, obtenha o token de acesso através da [Área do Cliente](https://cliente.serpro.gov.br) <br/><br/>",
    "version": "api"
  },
  "externalDocs": {
    "description": "Informações e documentações sobre as NF-e",
    "url": "http://portal.nfe.fazenda.gov.br"
  },
  "servers": [
    {
      "url": "https://apigateway.serpro.gov.br/consulta-nfe-df-trial",
      "description": "Ambiente de testes"
    },
    {
      "url": "https://apigateway.serpro.gov.br/consulta-nfe-df",
      "description": "Ambiente produtivo"
    }
  ],
  "tags": [
    {
      "name": "Consulta NF-e",
      "description": "Referente a consulta de NF-e através de sua chave de acesso"
    },
    {
      "name": "Notificação NF-e - Monitoração",
      "description": "Referente a notificação de atualização das NF-e monitoradas"
    },
    {
      "name": "Notificação NF-e - Subscrição",
      "description": "Referente ao cadastro do cliente para monitorar NF-e"
    }
  ],
  "paths": {
    "/v1/nfe/{chave}": {
      "get": {
        "tags": [
          "Consulta NF-e"
        ],
        "summary": "Obtem informacoes da NF-e",
        "description": "Retorna as informações da NF-e referente à chave de acesso pesquisada",
        "parameters": [
          {
            "name": "chave",
            "in": "path",
            "description": "Chave de 44 posições da NF-e a ser recuperada",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chave Encontrada",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/NFe"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NFe"
                }
              }
            }
          },
          "400": {
            "description": "Chave Inválida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChaveInvalida"
                }
              }
            }
          },
          "404": {
            "description": "Chave não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChaveNaoEncontrada"
                }
              }
            }
          },
          "406": {
            "description": "O formato dos dados requisitados é inválido. Utilizar `application/json` ou `application/xml`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormatoInvalido"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno da API",
            "content": {}
          }
        }
      }
    },
    "/v1/nfe/push/clientes": {
      "post": {
        "tags": [
          "Notificação NF-e - Subscrição"
        ],
        "summary": "Cadastra a URL do cliente para o qual a notificação será enviada",
        "requestBody": {
          "description": "No momento, estamos apenas aceitando serviços REST, devidamente hospedados em servidores com URL terminadas em **.com** ou **.br**",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClienteCadastro"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "URL do cliente cadastrada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClienteCadastroConfirmado"
                }
              }
            }
          }
        },
        "callbacks": {
          "notificacao": {
            "{$request.body#/urlNotificacao}": {
              "post": {
                "description": "Sempre que uma das NF-e monitoradas for atualizada, o callback fará uma requisição HTTP REST para um serviço hospedado pelo cliente. A chamada será feita para a URL do cliente, informando que uma das NF-e monitorada sofreu alteração",
                "requestBody": {
                  "required": true,
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/NotificacaoNFe"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "A notificação foi recebida com sucesso pelo cliente"
                  },
                  "500": {
                    "description": "Algum erro ocorreu no envio da notificação"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Notificação NF-e - Subscrição"
        ],
        "summary": "Atualiza a URL do cliente para  qual a notificação será enviada",
        "requestBody": {
          "description": "No momento, estamos apenas aceitando serviços REST, devidamente hospedados em servidores com URL terminadas em **.com** ou **.br**",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClienteCadastro"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "URL do cliente cadastrada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClienteCadastroConfirmado"
                }
              }
            }
          },
          "400": {
            "description": "Valor de urlNotificacao inválido ou não informado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/URLInvalida"
                }
              }
            }
          },
          "500": {
            "description": "Erro ao alterar informações de URL do cliente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClienteErro"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Notificação NF-e - Subscrição"
        ],
        "summary": "Consulta a URL cadastrada pelo cliente, para recepção da notificação da NF-e",
        "responses": {
          "200": {
            "description": "URL do cliente encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClienteRetorno"
                }
              }
            }
          },
          "404": {
            "description": "URL do cliente não encontrada"
          },
          "500": {
            "description": "Erro interno do serviço"
          }
        }
      }
    },
    "/v1/nfe/push/solicitacoes": {
      "post": {
        "tags": [
          "Notificação NF-e - Monitoração"
        ],
        "summary": "Inclui solicitação de monitoração de uma ou mais NF-e",
        "responses": {
          "201": {
            "description": "Solicitação de monitoração de uma ou mais NF-e cadastrada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SolicitacaoCadastro"
                }
              }
            }
          },
          "412": {
            "description": "Não há URL de notificação cadastrada previamente pelo cliente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SolicitacaoCadastroErro"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do serviço"
          }
        }
      },
      "get": {
        "tags": [
          "Notificação NF-e - Monitoração"
        ],
        "summary": "Consulta todas as solicitações de monitoração de NF-e cadastradas",
        "responses": {
          "200": {
            "description": "Lista de solicitações retornada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SolicitacaoCadastro"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Nenhuma solicitação encontrada para o cliente"
          },
          "500": {
            "description": "Erro interno do serviço"
          }
        }
      }
    },
    "/v1/nfe/push/solicitacoes/{solicitacaoId}": {
      "delete": {
        "tags": [
          "Notificação NF-e - Monitoração"
        ],
        "summary": "Remove solicitação de monitoração cadastrada",
        "parameters": [
          {
            "name": "solicitacaoId",
            "in": "path",
            "description": "Número da solicitação de monitoração",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Solicitação excluída com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SolicitacaoExclusao"
                }
              }
            }
          },
          "400": {
            "description": "Id da solicitação inválido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SolicitacaoExclusaoErro"
                }
              }
            }
          },
          "404": {
            "description": "Id da solicitação não encontrado"
          },
          "500": {
            "description": "Erro interno do serviço"
          }
        }
      },
      "get": {
        "tags": [
          "Notificação NF-e - Monitoração"
        ],
        "summary": "Consulta solicitação de monitoração de NF-e cadastradas",
        "parameters": [
          {
            "name": "solicitacaoId",
            "in": "path",
            "description": "Número da solicitação de monitoração",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retorna as informações da Solicitação cadastrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SolicitacaoCadastro"
                }
              }
            }
          },
          "404": {
            "description": "Solicitação não encontrada"
          },
          "500": {
            "description": "Erro interno do serviço"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SolicitacaoExclusao": {
        "type": "object",
        "properties": {
          "mensagem": {
            "type": "string",
            "description": "Mensagem de erro de validação",
            "example": "Solicitação excluída com sucesso"
          }
        }
      },
      "SolicitacaoExclusaoErro": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Mensagem de erro de validação"
          },
          "type": {
            "type": "string",
            "description": "tipo do elemento"
          },
          "path": {
            "type": "string",
            "description": "caminho do elemento"
          },
          "value": {
            "type": "string",
            "description": "valor do elemento"
          }
        }
      },
      "SolicitacaoCadastroErro": {
        "type": "object",
        "properties": {
          "mensagem": {
            "type": "string",
            "description": "Mensagem de erro de validação",
            "example": "Necessário cadastrar antes uma URL para receber notificações push"
          }
        }
      },
      "SolicitacaoCadastro": {
        "type": "object",
        "properties": {
          "solicitacaoId": {
            "type": "string",
            "description": "Id único de uma requisição, em formato Base64",
            "example": "lOYKqr7HfhcDuJA"
          },
          "chavesMonitoracao": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Chave de 44 posições da NF-e",
              "example": [
                "12345678901234567890123456789012345678901234",
                "43210987654321098765432109876543210987654321"
              ]
            }
          },
          "dataCriacao": {
            "type": "string",
            "description": "Data/Hora de criação da monitoração",
            "example": "2019-12-20T03:00:00.000Z"
          },
          "dataExpiracao": {
            "type": "string",
            "description": "Data/Hora de expiração da monitoração",
            "example": "2019-12-20T03:00:00.000Z"
          },
          "clienteId": {
            "type": "string",
            "description": "CNPJ do cliente",
            "example": "33683111000107"
          }
        }
      },
      "ClienteRetorno": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "CNPJ do cliente",
            "example": "33683111000107"
          },
          "urlNotificacao": {
            "type": "string",
            "description": "URL cadastrada pelo cliente",
            "example": "https://meuservico.cliente.com.br/notificacao"
          },
          "dataCriacao": {
            "type": "string",
            "description": "Data de cadastro da URL do cliente",
            "example": "2019-01-01T00:00:00.000Z"
          },
          "dataAtualizacao": {
            "type": "string",
            "description": "Data de atualização da URL do cliente",
            "example": "2019-01-01T00:00:00.000Z"
          }
        }
      },
      "ClienteErro": {
        "type": "object",
        "properties": {
          "mensagem": {
            "type": "string",
            "description": "Mensagem de erro de validação",
            "example": "Não foi possível alterar dados do cliente"
          }
        }
      },
      "URLInvalida": {
        "type": "object",
        "properties": {
          "mensagem": {
            "type": "string",
            "description": "Mensagem de erro de validação",
            "example": "Valor de urlNotificacao inválido"
          }
        }
      },
      "NotificacaoNFe": {
        "type": "object",
        "properties": {
          "chaveNfe": {
            "type": "string",
            "description": "A chave da NF-e que foi atualizada",
            "example": "12345678901234567890123456789012345678901234"
          },
          "dataHoraEnvio": {
            "type": "string",
            "description": "Data e Hora da atualização da NF-e",
            "example": "2019-12-01T00:00:00.000Z"
          }
        }
      },
      "ClienteCadastroConfirmado": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "CNPJ do cliente que cadastrou a URL",
            "example": "33683111000107"
          },
          "urlNotificacao": {
            "type": "string",
            "description": "Endereço para o qual a notificação será enviada, via requisição REST",
            "example": "http://meuservico.cliente.com.br/notificacao"
          },
          "dataCriacao": {
            "type": "string",
            "description": "Data/hora da gravação da solicitação",
            "example": "2019-12-01T00:00:00.000Z"
          }
        }
      },
      "ClienteCadastro": {
        "type": "object",
        "properties": {
          "urlNotificacao": {
            "type": "string",
            "description": "Endereço para o qual a notificação será enviada, via requisição REST",
            "example": "http://meuservico.cliente.com.br/notificacao"
          }
        }
      },
      "ChaveInvalida": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "message": {
              "type": "string",
              "example": "Chave Inválida: 12345678901234567890123456789012345678901234"
            }
          }
        }
      },
      "ChaveNaoEncontrada": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "message": {
              "type": "string",
              "example": "HTTP 404 Not Found"
            }
          }
        }
      },
      "FormatoInvalido": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "message": {
              "type": "string",
              "example": "RESTEASY003635: No match for accept header"
            }
          }
        }
      },
      "NFe": {
        "type": "object",
        "properties": {
          "protNFe": {
            "type": "object",
            "properties": {
              "infProt": {
                "type": "object",
                "properties": {
                  "nProt": {
                    "type": "integer",
                    "example": 55455534534
                  },
                  "digVal": {
                    "type": "string",
                    "example": "jfdgh76tr542786rteuhyfbwef8="
                  },
                  "dhRecbto": {
                    "type": "string",
                    "example": "2019-07-22T09:34:06-03:00"
                  },
                  "Id": {
                    "type": "string",
                    "example": "Id445345345"
                  },
                  "chNFe": {
                    "type": "string",
                    "example": "87878774456468954646464654654546545446579312"
                  },
                  "xMotivo": {
                    "type": "string",
                    "example": "Autorizado o uso da NF-e"
                  },
                  "cStat": {
                    "type": "number",
                    "example": 100
                  }
                }
              }
            }
          },
          "NFe": {
            "type": "object",
            "properties": {
              "InfNFe": {
                "type": "object",
                "properties": {
                  "InfAdic": {
                    "type": "object",
                    "properties": {
                      "infCpl": {
                        "type": "string",
                        "example": "Lorem ipsum dolor..."
                      },
                      "obsCont": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "xCampo": {
                              "type": "string",
                              "example": "LEI DA TRANSPARENCIA"
                            },
                            "xTexto": {
                              "type": "string",
                              "example": "O VALOR APROXIMADO DE TRIBUTOS INCIDENTES SOBRE O PRECO DESTE SERVICO E DE R$ 5.62 (16.06) FONTE: IBPT"
                            }
                          }
                        }
                      }
                    }
                  },
                  "det": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "nItem": {
                          "type": "integer",
                          "example": 1
                        },
                        "prod": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "cEAN": {
                                "type": "string",
                                "example": "SEM GTIN"
                              },
                              "cProd": {
                                "type": "string",
                                "example": "JC59-00035A-SI"
                              },
                              "qCom": {
                                "type": "number",
                                "example": 1
                              },
                              "cEANTrib": {
                                "type": "string",
                                "example": "SEM GTIN"
                              },
                              "vUnTrib": {
                                "type": "number",
                                "example": 265.79
                              },
                              "qTrib": {
                                "type": "number",
                                "example": 1
                              },
                              "vProd": {
                                "type": "number",
                                "example": 265.79
                              },
                              "xProd": {
                                "type": "string",
                                "example": "UNIDADE DE DISCO RIGIDO 320GB"
                              },
                              "vUnCom": {
                                "type": "number",
                                "example": 265.79
                              },
                              "indTot": {
                                "type": "integer",
                                "example": 1
                              },
                              "uTrib": {
                                "type": "string",
                                "example": "UN"
                              },
                              "NCM": {
                                "type": "integer",
                                "example": 84717012
                              },
                              "uCom": {
                                "type": "string",
                                "example": "UN"
                              },
                              "CFOP": {
                                "type": "integer",
                                "example": 5949
                              },
                              "CEST": {
                                "type": "integer",
                                "example": 2103300
                              },
                              "rastro": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "nLote": {
                                      "type": "string",
                                      "example": "Lote 1"
                                    },
                                    "qLote": {
                                      "type": "number",
                                      "example": 18
                                    },
                                    "dFab": {
                                      "type": "string",
                                      "example": "2019-07-22"
                                    },
                                    "dVal": {
                                      "type": "string",
                                      "example": "2020-06-22"
                                    },
                                    "cAgreg": {
                                      "type": "string",
                                      "example": "Agregador 1"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "imposto": {
                          "type": "object",
                          "properties": {
                            "ICMS": {
                              "type": "object",
                              "properties": {
                                "orig": {
                                  "type": "integer",
                                  "example": 1
                                },
                                "CST": {
                                  "type": "integer",
                                  "example": 41
                                }
                              }
                            },
                            "IPI": {
                              "type": "object",
                              "properties": {
                                "IPINT": {
                                  "type": "object",
                                  "properties": {
                                    "CST": {
                                      "type": "integer",
                                      "example": 53
                                    }
                                  }
                                },
                                "cEnq": {
                                  "type": "integer",
                                  "example": 999
                                }
                              }
                            },
                            "COFINS": {
                              "type": "object",
                              "properties": {
                                "COFINSNT": {
                                  "type": "object",
                                  "properties": {
                                    "CST": {
                                      "type": "integer",
                                      "example": "07"
                                    }
                                  }
                                }
                              }
                            },
                            "PIS": {
                              "type": "object",
                              "properties": {
                                "PISNT": {
                                  "type": "object",
                                  "properties": {
                                    "CST": {
                                      "type": "integer",
                                      "example": "07"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "total": {
                    "type": "object",
                    "properties": {
                      "ICMSTot": {
                        "type": "object",
                        "properties": {
                          "vCONFINS": {
                            "type": "number",
                            "example": 0
                          },
                          "vBCST": {
                            "type": "number",
                            "example": 0
                          },
                          "vICMSDeson": {
                            "type": "number",
                            "example": 0
                          },
                          "vProd": {
                            "type": "number",
                            "example": 265.79
                          },
                          "vSeq": {
                            "type": "number",
                            "example": 0
                          },
                          "vFCP": {
                            "type": "number",
                            "example": 0
                          },
                          "vFCPST": {
                            "type": "number",
                            "example": 0
                          },
                          "vNF": {
                            "type": "number",
                            "example": 0
                          },
                          "vPIS": {
                            "type": "number",
                            "example": 0
                          },
                          "vIPIDevol": {
                            "type": "number",
                            "example": 0
                          },
                          "vBC": {
                            "type": "number",
                            "example": 0
                          },
                          "vST": {
                            "type": "number",
                            "example": 0
                          },
                          "vICMS": {
                            "type": "number",
                            "example": 0
                          },
                          "vII": {
                            "type": "number",
                            "example": 0
                          },
                          "vFCPSTRet": {
                            "type": "number",
                            "example": 0
                          },
                          "vDESC": {
                            "type": "number",
                            "example": 0
                          },
                          "vOutro": {
                            "type": "number",
                            "example": 0
                          },
                          "vIPI": {
                            "type": "number",
                            "example": 0
                          },
                          "vFrete": {
                            "type": "number",
                            "example": 0
                          }
                        }
                      }
                    }
                  },
                  "pag": {
                    "type": "object",
                    "properties": {
                      "detPag": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "vPag": {
                              "type": "number",
                              "example": 265.79
                            },
                            "tpag": {
                              "type": "number",
                              "example": 99
                            }
                          }
                        }
                      }
                    }
                  },
                  "Id": {
                    "type": "string",
                    "example": "NFe87878774456468954646464654654546545446579312"
                  },
                  "ide": {
                    "type": "object",
                    "properties": {
                      "tpNF": {
                        "type": "integer",
                        "example": 1
                      },
                      "mod": {
                        "type": "integer",
                        "example": 55
                      },
                      "indPres": {
                        "type": "integer",
                        "example": 0
                      },
                      "tpImp": {
                        "type": "integer",
                        "example": 1
                      },
                      "nNF": {
                        "type": "integer",
                        "example": 1353368
                      },
                      "cMunFG": {
                        "type": "integer",
                        "example": 3534401
                      },
                      "procEmi": {
                        "type": "integer",
                        "example": 0
                      },
                      "finNFe": {
                        "type": "integer",
                        "example": 1
                      },
                      "dhEmi": {
                        "type": "string",
                        "example": "2019-07-22T09:33:31-03:00"
                      },
                      "tpAmb": {
                        "type": "integer",
                        "example": 1
                      },
                      "indFinal": {
                        "type": "integer",
                        "example": 1
                      },
                      "dhSaiEnt": {
                        "type": "string",
                        "example": "2019-07-22T09:33:31-03:00"
                      },
                      "idDest": {
                        "type": "integer",
                        "example": 1
                      },
                      "tpEmis": {
                        "type": "integer",
                        "example": 1
                      },
                      "cDV": {
                        "type": "integer",
                        "example": 0
                      },
                      "cUF": {
                        "type": "integer",
                        "example": 35
                      },
                      "serie": {
                        "type": "integer",
                        "example": 3
                      },
                      "natOp": {
                        "type": "string",
                        "example": "Outra saida merc./prestacao serv. nao espec."
                      },
                      "cNF": {
                        "type": "string",
                        "example": "00012763"
                      },
                      "verProc": {
                        "type": "string",
                        "example": "5.0.1500.2985"
                      }
                    }
                  },
                  "emit": {
                    "type": "object",
                    "properties": {
                      "CNAE": {
                        "type": "integer",
                        "example": 34324
                      },
                      "xNome": {
                        "type": "string",
                        "example": "ACME SERVICOS LTDA"
                      },
                      "IM": {
                        "type": "integer",
                        "example": 96852
                      },
                      "CRT": {
                        "type": "integer",
                        "example": 3
                      },
                      "xFant": {
                        "type": "string",
                        "example": "ACME SERVICOS LTDA"
                      },
                      "CNPJ": {
                        "type": "string",
                        "example": "ACME SERVICOS LTDA"
                      },
                      "enderEmit": {
                        "type": "object",
                        "properties": {
                          "fone": {
                            "type": "integer",
                            "example": 4534534534
                          },
                          "UF": {
                            "type": "string",
                            "example": "SP"
                          },
                          "xPais": {
                            "type": "string",
                            "example": "Brasil"
                          },
                          "cPais": {
                            "type": "integer",
                            "example": 1058
                          },
                          "xLgr": {
                            "type": "string",
                            "example": "SP"
                          },
                          "xMun": {
                            "type": "string",
                            "example": "Brasil"
                          },
                          "nro": {
                            "type": "integer",
                            "example": 628
                          },
                          "cMun": {
                            "type": "integer",
                            "example": 454545
                          },
                          "xBairro": {
                            "type": "string",
                            "example": "Bairro do Chaves"
                          },
                          "CEP": {
                            "type": "string",
                            "example": "06200000"
                          }
                        }
                      },
                      "IE": {
                        "type": "integer",
                        "example": 8465465454
                      }
                    }
                  },
                  "dest": {
                    "type": "object",
                    "properties": {
                      "xNome": {
                        "type": "string",
                        "example": "ACME SERVICOS LTDA"
                      },
                      "CNPJ": {
                        "type": "string",
                        "example": "4545345345345"
                      },
                      "enderDest": {
                        "type": "object",
                        "properties": {
                          "xCpl": {
                            "type": "string",
                            "example": "GALP 1 E 2"
                          },
                          "fone": {
                            "type": "integer",
                            "example": 4534534534
                          },
                          "UF": {
                            "type": "string",
                            "example": "SP"
                          },
                          "xPais": {
                            "type": "string",
                            "example": "Brasil"
                          },
                          "cPais": {
                            "type": "integer",
                            "example": 1058
                          },
                          "xLgr": {
                            "type": "string",
                            "example": "AV Paulista"
                          },
                          "xMun": {
                            "type": "string",
                            "example": "Oscasco"
                          },
                          "nro": {
                            "type": "integer",
                            "example": 628
                          },
                          "cMun": {
                            "type": "integer",
                            "example": 454545
                          },
                          "xBairro": {
                            "type": "string",
                            "example": "Bairro do Chaves"
                          },
                          "CEP": {
                            "type": "string",
                            "example": "06200000"
                          }
                        }
                      },
                      "IE": {
                        "type": "integer",
                        "example": 8465465454
                      },
                      "indIEDest": {
                        "type": "integer",
                        "example": 9
                      },
                      "email": {
                        "type": "string",
                        "example": "acme@acme.com"
                      }
                    }
                  },
                  "transp": {
                    "type": "object",
                    "properties": {
                      "modFrete": {
                        "type": "integer",
                        "example": 0
                      },
                      "vol": {
                        "type": "array",
                        "items": {
                          "properties": {
                            "pesoL": {
                              "type": "number",
                              "example": 0.03
                            },
                            "qVol": {
                              "type": "integer",
                              "example": 1
                            },
                            "pesoBt": {
                              "type": "number",
                              "example": 0.033
                            }
                          }
                        }
                      },
                      "transporta": {
                        "type": "object",
                        "properties": {
                          "xNone": {
                            "type": "string",
                            "example": "John Doe da Silva"
                          },
                          "UF": {
                            "type": "string",
                            "example": "SP"
                          },
                          "xEnder": {
                            "type": "string",
                            "example": "Rua 1"
                          },
                          "xMun": {
                            "type": "string",
                            "example": "Sao Paulo"
                          },
                          "CNPJ": {
                            "type": "string",
                            "example": "4654654654654"
                          },
                          "IE": {
                            "type": "integer",
                            "example": 8789789789
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "Versao": {
            "type": "string",
            "example": "4.0"
          }
        }
      }
    },
    "securitySchemes": {
      "petstore_auth": {
        "type": "oauth2",
        "flows": {
          "implicit": {
            "authorizationUrl": "http://petstore.swagger.io/oauth/dialog",
            "scopes": {
              "write:pets": "modify pets in your account",
              "read:pets": "read your pets"
            }
          }
        }
      },
      "api_key": {
        "type": "apiKey",
        "name": "api_key",
        "in": "header"
      }
    }
  }
}
