{
  "host": "apigateway.serpro.gov.br",
  "security": [
    {
      "Bearer": []
    }
  ],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "info": {
    "version": "1.0",
    "title": "API NF-e DF",
    "description": "\n ### Documentación en español haga clic [`AQUÍ.`](https://devserpro.github.io/apiserpro/apis/swagger-ui-master/dist/index.html?bearer=4e1a1858bdd584fdc077fb7d80f39283&url=https://devserpro.github.io/apiserpro/apis/swaggers/nfe/swagger-nfe-df-trial-bsa-es.json#!/) \n For information on authenticating before consuming the APIs, please refer to the documentation at: http://devserpro.github.io/apiserpro/ \n\n`The Electronic Invoice Inquiry` and `Push NFe`services are available through `HTTP REST`. Offering operations for checking electronic invoices and also sending notifications of updates of certain invoices, through your access key. \n<br>\n ## NF-e push service \n\n The client receives a notification that a particular NF-e already included in a monitoring request has been updated. \n\n  Notification post method: \n\n  {  \n   \"chaveNFe\": \"NFE_KEY\", \n  \"dataHoraEnvio\": \"DATE_TIME\"  \n   }  \n\n The client must implement the treatment of this Post method in his application. \n<br>\n ## Non Tariff Return Codes of Electronic Invoice Inquiry\n|  Return Code |  Summary |  Explanation |\n| ------------- |:--------------------|:----------------------------------------------------------------------------- |\n| &nbsp;           | &nbsp;    | &nbsp;  | \n |400           | Invalid request    | The key number entered is not valid.       |\n| &nbsp;           | &nbsp;    | &nbsp;  |\n| 404           | Not found    | The key number you entered was not found.  |\n| &nbsp;           | &nbsp;    | &nbsp;  |\n| 406           | Not Acceptable    | The output file format must be Json/Xml. |\n| &nbsp;           | &nbsp;    | &nbsp;  |\n| 500           | Server Error | A server error has occurred.      |\n<br>\n ## Layouts and Formats \n\n<br>The NF-e information provided is in accordance with the NF-e layout provided by the National Meeting of State Tax Coordinators and Administrators (ENCAT). \n<br><br>\n Technical Notes with NF-e layout information are available for download at http://www.nfe.fazenda.gov.br/portal/listaConteudo.aspx?tipoConteudo=tW+YMyk/50s= \n<br><br>\n The return JSON strcuture follows the same specifications as Web Services XML schemas, available at http://www.nfe.fazenda.gov.br/portal/listaConteudo.aspx?tipoConteudo=/fwLvLUSmU8= \n<br><br>\n The fields of the `NUMERIC TYPE`, the JSON return will return the field in `number format`and if the numeric value of the field is too large, the return may appear in json in `scientific notation format`. It is up to the application that consumes the API service to give proper treatment for numeric fields. \n<br>\n## Requesting Time Stamp signature\n\n  If you want your request to come with a Time Stamp signature, just include, in the header of your request, the `x-signature information: 1.`.\n  \n  The signature will be returned in the header of the reply, with the name stamp.\n<br>\n## Checking signature with Time Stamp\n\n  To verify time stamp signature, follow the documentation instructions below::\n  \n[Documentation - Time Stamp Verification](https://devserpro.github.io/apiserpro/apis/swagger-ui-master/dist/index.html?bearer=4e1a1858bdd584fdc077fb7d80f39283&url=https://devserpro.github.io/apiserpro/apis/swaggers/carimbo-tempo/swagger-timestampcheck-trial-bsa.json#!/default/post_check)\n<br>\n## Request Header Field (X-Request-Tag)\n\n  This field is optional when using API / Datavalid calls and serves as a request identifier. If a company needs, for example, to group the number of requests made by each department, you can use this field to identify in invoicing the number of requests of each grouping item. \n<br><br>\n The field is free text (string up to 32 characters) and has no validation of its content. It is therefore up to the customer to keep track of the information that is sent to this field so that the billing report does the proper grouping. \n<br><br>\n This attribute may be used by the class entity and / or economic group in the global entity-burden mode for the purpose of identifying the requesting member. In the case of class entities or economic groups that contract with a charge to the member, it is not necessary to group because each member will have his own consumption key.\n<br>\n## Base Production Address \n https://apigateway.serpro.gov.br/consulta-nfe-df/api \n<br>\n ## Degustation Base Address \n https://apigateway.serpro.gov.br/consulta-nfe-df-trial/api \n<br>\n## Call and Return Example of Electronic Invoice Inquiry\n### Call\n    https://apigateway.serpro.gov.br/consulta-nfe-df-trial/api/v1/nfe/35161147508411011603551000077959551093041003 \n<br>\n ### Return \n\n   The return will be of type `file.json` or `file.xml`"
  },
  "basePath": "/consulta-nfe-df-trial/api",
  "paths": {
    "/v1/nfe/{key}": {
      "get": {
        "tags": [
          "Invoice Inquiry NFe"
        ],
        "summary": "Electronic Invoice Inquiry",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": "Returns the NF-e information with the entered access key. \n### Electronic Invoices available for Degustation\n| key | Observation |\n| ---------------------- | ----------|\n| 35170608530528000184550000000154301000771561 | |\n| 35161147508411011603551000077959551093041003 | |\n| 53131205035672000156550010000004991543410167 | |\n| 42140612687276000179550010001505671172228752 | |\n| 35140903608306000202555000001100251571436929 | |\n| 53150337992500000167550010000029521000029516 | |\n| 31150917591579000107550010000014321081035918 | |\n| 35151200991908000104550020000063951000184833 | |\n| 31160906347409006953550110008369841081956475 | |\n| 31170309339936000973550250002397736362483965 | |\n| 35160900623904000335550010028792431858713854 | |\n| 35170300776574000156550020009091941178378523 | |\n| 53160911510448000171550010000106771000187760 | |\n| 52160819015622000111550010000007051300828370 | |\n| 53160621182711000102550010000012921000042921 | |\n| 52160609303953000101550010000008711000045330 | |\n| 53151205642646000196550010000287891000219878 | |\n| 53160713453539000148550010000009101000070190 | |\n| 52151013766790000162550010000028401250000010 | |\n| 53160705642646000196550010000298141000284189 | |\n| 52160400945852000151550010000041771020601080 | |\n| 24190201243220000109550010000007251000007252 | |\n| 24190420412822000197550010000004701000001816 | |\n| 25190400785860000188550010000000061000000868 | |\n| 29190332994770000193550020000000107000000124 | |\n| 33190403282458000179550010001434641841176079 | |\n| 87878774456468954646464654654546545446579312 | This NFe has all the arrays |\n|",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "key: NF-e access key (44 digits, no spaces)"
          },
          {
            "description": "Time stamp signature request. Enter 1 to sign, or leave blank not to sign.",
            "name": "X-signature",
            "in": "header",
            "type": "string"
          },
          {
            "description": "Optional field to identify requests. The content is free text so that the client can identify the origin of the request, there is no validation of its content by the API. Maximum 32 characters",
            "name": "X-Request-Tag",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the NF-e data corresponding to the entered access key",
            "schema": {
              "$ref": "#/definitions/NFe"
            }
          },
          "400": {
            "description": "The access key you entered is not valid."
          },
          "404": {
            "description": "There is no NF-e with an informed access key."
          },
          "406": {
            "description": "The output file format must be Json/Xml."
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v1/nfe/push/clientes": {
      "post": {
        "tags": [
          "Push NFe - Clientes"
        ],
        "summary": "Register customer information",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": " \n\n## Example\n#### Call\n\n    https://apigateway.serpro.gov.br/consulta-nfe-df-trial/api/v1/nfe/push/clientes\n    \n    \n\n#### URL Terminations\n\n    Customer monitoring requests will only be notified if the registered URLs end with .br or .com. See the examples:                                              https://url_cliente.com                                                                   https://url_cliente.br \n\n#### Input content\n    { \n      \"urlNotificacao\": \"https://url_cliente.com\" \n    }\n\n                      or \n\n    { \n      \"urlNotificacao\": \"https://url_cliente.br\" \n    } \n  #### Return\n    { \n      \"Id\": \"000000000000000\", \n      \"urlNotificacao\": \"https://url_cliente.com\", \n      \"dataCriacao\": \"2019-12-20T03:00:00.000Z\" \n    } \n\n                      or \n\n    { \n      \"Id\": \"000000000000000\", \n      \"urlNotificacao\": \"https://url_cliente.br\", \n      \"dataCriacao\": \"2019-12-20T03:00:00.000Z\" \n    } ",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Customer Data",
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/cadastrarCliente"
            }
          },
          {
            "description": "Time stamp signature request. Enter 1 to sign, or leave blank not to sign.",
            "name": "X-signature",
            "in": "header",
            "type": "string"
          },
          {
            "description": "Optional field to identify requests. The content is free text so that the client can identify the origin of the request, there is no validation of its content by the API. Maximum 32 characters",
            "name": "X-Request-Tag",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Customer successfully registered.",
            "schema": {
              "$ref": "#/definitions/confirmacaoCadastramentoCliente"
            }
          },
          "400": {
            "description": "Invalid 'urlNotificacao' value."
          },
          "500": {
            "description": "Internal Server Error."
          }
        }
      },
      "put": {
        "tags": [
          "Push NFe - Clientes"
        ],
        "summary": "Update Customer Information",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": " \n\n## Example\n#### Call\n\n    https://apigateway.serpro.gov.br/consulta-nfe-df-trial/api/v1/nfe/push/clientes \n    \n    \n\n#### URL Terminations\n\n    Customer tracking requests received notifications only if the updated URLs end with .br or .com. See the examples:                                              https://url_cliente.com                                                                   https://url_cliente.br \n\n#### Input content\n    { \n      \"urlNotificacao\": \"https://url_cliente.com\" \n    }\n\n                      or \n\n    { \n      \"urlNotificacao\": \"https://url_cliente.br\" \n    } \n  #### Return\n    { \n      \"mensagem\": \"Dados alterados com sucesso.\"\n    } ",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Customer Data",
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/atualizarCliente"
            }
          },
          {
            "description": "Time stamp signature request. Enter 1 to sign, or leave blank not to sign.",
            "name": "X-signature",
            "in": "header",
            "type": "string"
          },
          {
            "description": "Optional field to identify requests. The content is free text so that the client can identify the origin of the request, there is no validation of its content by the API. Maximum 32 characters",
            "name": "X-Request-Tag",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Data changed successfully."
          },
          "400": {
            "description": "Invalid 'urlNotificacao' value."
          },
          "500": {
            "description": "Internal Server Error."
          }
        }
      },
      "get": {
        "tags": [
          "Push NFe - Clientes"
        ],
        "summary": "Consults all monitoring requests from a customer",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": " \n\n## Example\n#### Call\n\n    https://apigateway.serpro.gov.br/consulta-nfe-df-trial/api/v1/nfe/push/clientes\n    \n    \n\n#### URL Terminations\n\n    Customer tracking requests received notifications only if the updated URLs end with .br or .com. See the examples:                                               https://url_cliente.com                                                                   https://url_cliente.br \n\n#### Input content\n    { \n      \"urlNotificacao\": \"https://url_cliente.com\" \n    }\n\n                      ou \n\n    { \n      \"urlNotificacao\": \"https://url_cliente.br\" \n    } \n  #### Return\n    { \n      \"mensagem\": \"Dados alterados com sucesso.\"\n    }  ",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Time stamp signature request. Enter 1 to sign, or leave blank not to sign.",
            "name": "X-signature",
            "in": "header",
            "type": "string"
          },
          {
            "description": "Optional field to identify requests. The content is free text so that the client can identify the origin of the request, there is no validation of its content by the API. Maximum 32 characters",
            "name": "X-Request-Tag",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns customer data",
            "schema": {
              "$ref": "#/definitions/consultarClientes"
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v1/nfe/push/solicitacoes": {
      "post": {
        "tags": [
          "Push NFe - Solicitações"
        ],
        "summary": "Include monitoring request",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": " \n\n## Example\n#### Call\n\n    https://apigateway.serpro.gov.br/consulta-nfe-df-trial/api/v1/nfe/push/solicitacoes \n\n    The customer may include from one request several Electronic Invoices to be monitored. \n\n      \n#### Input content\n    { \n      \"chavesMonitoracao\": [ \n         \"43190788910252000603550010000375791937008290\",\n         \"43190788910252000603550010000375791937008291\"\n      ]    \n    } \n  ####  Return\n    { \n      \"solicitacaoId\": \"lOYKqr7HfhcDuJA\", \n      \"chavesMonitoracao\": [ \n         \"43190788910252000603550010000375791937008290\", \n         \"43190788910252000603550010000375791937008291\"\n      ], \n      \"dataCriacao\": \"2019-11-20T15:57:39.917Z\", \n      \"dataExpiracao\": \"2019-12-20T03:00:00.000Z\", \n      \"clienteId\": \"00000000000000\" \n    } ",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Monitoring request data to be generated",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/incluirSolicitacao"
            }
          },
          {
            "description": "Time stamp signature request. Enter 1 to sign, or leave blank not to sign.",
            "name": "X-signature",
            "in": "header",
            "type": "string"
          },
          {
            "description": "Optional field to identify requests. The content is free text so that the client can identify the origin of the request, there is no validation of its content by the API. Maximum 32 characters",
            "name": "X-Request-Tag",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Returns request inclusion confirmation data.",
            "schema": {
              "$ref": "#/definitions/confirmacaoSolicitacao"
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "get": {
        "tags": [
          "Push NFe - Solicitações"
        ],
        "summary": "Queries all monitoring requests from a client",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": " ## Example\n#### Call\n\n    https://apigateway.serpro.gov.br/consulta-nfe-df-trial/api/v1/nfe/push/solicitacoes\n    \n #### Input content \n    {\n      \"url\": \"https://valapinfe2.estaleiro.serpro.gov.br/push/solicitacoes\" \n    } \n  #### \n  #### Return \n    [ \n      { \n        \"solicitacaoId\": \"al2sDBn6KNVpleB\", \n        \"clienteId\": \"00000000000000\", \n        \"urlNotificacao\": \"https://url_cliente.com\", \n        \"dataCriacao\": \"2019-11-20T15:57:18.793Z\", \n        \"dataExpiracao\": \"2019-12-20T03:00:00.000Z\", \n        \"chavesMonitoracao\": [ \n            { \n              \"chave\": \"43190788910252000603550010000375791937008290\", \n              \"entregue\": false, \n              \"dataEntrega\": \"2019-11-21T15:15:01.212Z\" \n            }, \n            { \n              \"chave\": \"43190788910252000603550010000375791937008291\", \n              \"entregue\": false, \n              \"dataEntrega\": \"2019-11-21T15:15:02.213Z\" \n            } \n         ] \n      }, \n      { \n        \"solicitacaoId\": \"dbo5wvBsVy52kpY\", \n        \"clienteId\": \"00000000000000\", \n        \"urlNotificacao\": \"http://url_cliente.com\", \n        \"dataCriacao\": \"2019-11-20T15:57:18.793Z\", \n        \"dataExpiracao\": \"2019-12-20T03:00:00.000Z\", \n        \"chavesMonitoracao\": [ \n            { \n              \"chave\": \"43190788910252000603550010000375791937008292\", \n              \"entregue\": false, \n              \"dataEntrega\": \"2019-11-21T15:15:03.212Z\" \n            }, \n            { \n              \"chave\": \"43190788910252000603550010000375791937008293\", \n              \"entregue\": false, \n              \"dataEntrega\": \"2019-11-21T15:15:04.213Z\" \n            } \n         ] \n      } \n       \n    ] ",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Time stamp signature request. Enter 1 to sign, or leave blank not to sign.",
            "name": "X-signature",
            "in": "header",
            "type": "string"
          },
          {
            "description": "Optional field to identify requests. The content is free text so that the client can identify the origin of the request, there is no validation of its content by the API. Maximum 32 characters",
            "name": "X-Request-Tag",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Return all requests from a client",
            "schema": {
              "$ref": "#/definitions/consultarSolicitacoes"
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v1/nfe/push/solicitacoes/{solicitacaoId}": {
      "get": {
        "tags": [
          "Push NFe - Solicitações"
        ],
        "summary": "Queries a monitoring request",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": " \n\n## Example\n #### Solicitation for Degustation: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  al2sDBn6KNVpleB <br><br><br>\n  #### Call\n\n    https://apigateway.serpro.gov.br/consulta-nfe-df-trial/api/v1/nfe/push/solicitacoes/{solicitacaoId}\n    \n     \n  #### Return\n    { \n        \"solicitacaoId\": \"al2sDBn6KNVpleB\", \n        \"clienteId\": \"00000000000000\", \n        \"urlNotificacao\": \"https://url_cliente.com\", \n        \"dataCriacao\": \"2019-11-20T15:57:18.793Z\", \n        \"dataExpiracao\": \"2019-12-20T03:00:00.000Z\", \n        \"chavesMonitoracao\": [ \n            { \n              \"chave\": \"43190788910252000603550010000375791937008290\", \n              \"entregue\": false, \n              \"dataEntrega\": \"2019-11-21T15:15:00.212Z\" \n            }, \n            { \n              \"chave\": \"43190788910252000603550010000375791937008291\", \n              \"entregue\": false, \n              \"dataEntrega\": \"2019-11-21T15:15:00.213Z\" \n            } \n         ] \n    } \n \n",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "solicitacaoId",
            "in": "path",
            "description": "Request code",
            "required": true,
            "type": "string"
          },
          {
            "description": "Time stamp signature request. Enter 1 to sign, or leave blank not to sign.",
            "name": "X-signature",
            "in": "header",
            "type": "string"
          },
          {
            "description": "Optional field to identify requests. The content is free text so that the client can identify the origin of the request, there is no validation of its content by the API. Maximum 32 characters",
            "name": "X-Request-Tag",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the data of a given request.",
            "schema": {
              "$ref": "#/definitions/consultarSolicitacao"
            }
          },
          "404": {
            "description": "The requested request was not found."
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "tags": [
          "Push NFe - Solicitações"
        ],
        "summary": "Delete a particular monitoring request",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": " \n\n## Example\n #### Request for degustation:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;al2sDBn6KNVpleB \n<br>\n  #### Call\n\n    https://apigateway.serpro.gov.br/consulta-nfe-df-trial/api/v1/nfe/push/solicitacoes/{solicitacaoId} \n\n#### Return\n    { \n        \"mensagem\": \"Solicitação excluída com sucesso.\"\n    } \n",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "solicitacaoId",
            "in": "path",
            "description": "Request code",
            "required": true,
            "type": "string"
          },
          {
            "description": "Time stamp signature request. Enter 1 to sign, or leave blank not to sign.",
            "name": "X-signature",
            "in": "header",
            "type": "string"
          },
          {
            "description": "Optional field to identify requests. The content is free text so that the client can identify the origin of the request, there is no validation of its content by the API. Maximum 32 characters",
            "name": "X-Request-Tag",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successfully deleted."
          },
          "404": {
            "description": "The requested request was not found."
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/status": {
      "get": {
        "tags": [
          "Status"
        ],
        "summary": "Check API Status",
        "responses": {
          "200": {
            "description": "Service available",
            "schema": {
              "$ref": "#/definitions/Status"
            },
            "examples": {
              "lastUpdateAt": "2019-02-18T11:27:06-03:00"
            }
          },
          "500": {
            "description": "Unavailable service",
            "schema": {
              "$ref": "#/definitions/Status"
            },
            "examples": {
              "lastUpdateAt": "2019-02-18T11:27:06-03:00"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "cadastrarCliente": {
      "type": "object",
      "properties": {
        "urlNotificacao": {
          "type": "string"
        }
      }
    },
    "confirmacaoCadastramentoCliente": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "urlNotificacao": {
          "type": "string"
        },
        "dataCriacao": {
          "type": "string"
        }
      }
    },
    "atualizarCliente": {
      "type": "object",
      "properties": {
        "urlNotificacao": {
          "type": "string"
        }
      }
    },
    "consultarClientes": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "urlNotificacao": {
          "type": "string"
        },
        "dataCriacao": {
          "type": "string"
        },
        "dataAtualizacao": {
          "type": "string"
        }
      }
    },
    "incluirSolicitacao": {
      "type": "object",
      "properties": {
        "chavesMonitoracao": {
          "type": "array",
          "items": {
            "properties": {
              "chave": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "confirmacaoSolicitacao": {
      "type": "object",
      "properties": {
        "solicitacaoId": {
          "type": "string"
        },
        "chavesMonitoracao": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "chave": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "consultarSolicitacoes": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "solicitacaoId": {
            "type": "string"
          },
          "clienteId": {
            "type": "string"
          },
          "urlNotificacao": {
            "type": "string"
          },
          "dataCriacao": {
            "type": "string"
          },
          "dataExperiracao": {
            "type": "string"
          },
          "chavesMonitoracao": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "chave": {
                  "type": "string"
                },
                "entregue": {
                  "type": "string"
                },
                "dataEntrega": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "consultarSolicitacao": {
      "type": "object",
      "properties": {
        "solicitacaoId": {
          "type": "string"
        },
        "clienteId": {
          "type": "string"
        },
        "urlNotificacao": {
          "type": "string"
        },
        "dataCriacao": {
          "type": "string"
        },
        "dataExperiracao": {
          "type": "string"
        },
        "chavesMonitoracao": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "chave": {
                "type": "string"
              },
              "entregue": {
                "type": "string"
              },
              "dataEntrega": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "NFe": {
      "type": "object",
      "properties": {
        "nfeProc": {
          "type": "object",
          "properties": {
            "protNFe": {
              "type": "object",
              "properties": {
                "infProt": {
                  "type": "object",
                  "properties": {
                    "nProt": {
                      "type": "integer",
                      "example": 55455534534
                    },
                    "digVal": {
                      "type": "string",
                      "example": "jfdgh76tr542786rteuhyfbwef8="
                    },
                    "dhRecbto": {
                      "type": "string",
                      "example": "2019-07-22T09:34:06-03:00"
                    },
                    "Id": {
                      "type": "string",
                      "example": "Id445345345"
                    },
                    "chNFe": {
                      "type": "string",
                      "example": "87878774456468954646464654654546545446579312"
                    },
                    "xMotivo": {
                      "type": "string",
                      "example": "Autorizado o uso da NF-e"
                    },
                    "cStat": {
                      "type": "number",
                      "example": 100
                    }
                  }
                }
              }
            },
            "NFe": {
              "type": "object",
              "properties": {
                "InfNFe": {
                  "type": "object",
                  "properties": {
                    "InfAdic": {
                      "type": "object",
                      "properties": {
                        "infCpl": {
                          "type": "string",
                          "example": "Lorem ipsum dolor..."
                        },
                        "obsCont": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "xCampo": {
                                "type": "string",
                                "example": "LEI DA TRANSPARENCIA"
                              },
                              "xTexto": {
                                "type": "string",
                                "example": "O VALOR APROXIMADO DE TRIBUTOS INCIDENTES SOBRE O PRECO DESTE SERVICO E DE R$ 5.62 (16.06) FONTE: IBPT"
                              }
                            }
                          }
                        }
                      }
                    },
                    "det": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "nItem": {
                            "type": "integer",
                            "example": 1
                          },
                          "prod": {
                            "type": "object",
                            "properties": {
                              "cEAN": {
                                "type": "string",
                                "example": "SEM GTIN"
                              },
                              "cProd": {
                                "type": "string",
                                "example": "JC59-00035A-SI"
                              },
                              "qCom": {
                                "type": "number",
                                "example": 1
                              },
                              "cEANTrib": {
                                "type": "string",
                                "example": "SEM GTIN"
                              },
                              "vUnTrib": {
                                "type": "number",
                                "example": 265.79
                              },
                              "qTrib": {
                                "type": "number",
                                "example": 1
                              },
                              "vProd": {
                                "type": "number",
                                "example": 265.79
                              },
                              "xProd": {
                                "type": "string",
                                "example": "UNIDADE DE DISCO RIGIDO 320GB"
                              },
                              "vUnCom": {
                                "type": "number",
                                "example": 265.79
                              },
                              "indTot": {
                                "type": "integer",
                                "example": 1
                              },
                              "uTrib": {
                                "type": "string",
                                "example": "UN"
                              },
                              "NCM": {
                                "type": "integer",
                                "example": 84717012
                              },
                              "uCom": {
                                "type": "string",
                                "example": "UN"
                              },
                              "CFOP": {
                                "type": "integer",
                                "example": 5949
                              },
                              "CEST": {
                                "type": "integer",
                                "example": 2103300
                              },
                              "rastro": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "nLote": {
                                      "type": "string",
                                      "example": "Lote 1"
                                    },
                                    "qLote": {
                                      "type": "number",
                                      "example": 18
                                    },
                                    "dFab": {
                                      "type": "string",
                                      "example": "2019-07-22"
                                    },
                                    "dVal": {
                                      "type": "string",
                                      "example": "2020-06-22"
                                    },
                                    "cAgreg": {
                                      "type": "string",
                                      "example": "Agregador 1"
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "imposto": {
                            "type": "object",
                            "properties": {

                              "IPI": {
                                "type": "object",
                                "properties": {
                                  "IPINT": {
                                    "type": "object",
                                    "properties": {
                                      "CST": {
                                        "type": "integer",
                                        "example": 53
                                      }
                                    }
                                  },
                                  "cEnq": {
                                    "type": "integer",
                                    "example": 999
                                  }
                                }
                              },
                              "COFINS": {
                                "type": "object",
                                "properties": {
                                  "COFINSNT": {
                                    "type": "object",
                                    "properties": {
                                      "CST": {
                                        "type": "string",
                                        "example": "07"
                                      }
                                    }
                                  }
                                }
                              },
                              "PIS": {
                                "type": "object",
                                "properties": {
                                  "PISNT": {
                                    "type": "object",
                                    "properties": {
                                      "CST": {
                                        "type": "string",
                                        "example": "07"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "object",
                      "properties": {
                        "ICMSTot": {
                          "type": "object",
                          "properties": {
                            "vCONFINS": {
                              "type": "number",
                              "example": 0
                            },
                            "vBCST": {
                              "type": "number",
                              "example": 0
                            },
                            "vICMSDeson": {
                              "type": "number",
                              "example": 0
                            },
                            "vProd": {
                              "type": "number",
                              "example": 265.79
                            },
                            "vSeq": {
                              "type": "number",
                              "example": 0
                            },
                            "vFCP": {
                              "type": "number",
                              "example": 0
                            },
                            "vFCPST": {
                              "type": "number",
                              "example": 0
                            },
                            "vNF": {
                              "type": "number",
                              "example": 0
                            },
                            "vPIS": {
                              "type": "number",
                              "example": 0
                            },
                            "vIPIDevol": {
                              "type": "number",
                              "example": 0
                            },
                            "vBC": {
                              "type": "number",
                              "example": 0
                            },
                            "vST": {
                              "type": "number",
                              "example": 0
                            },
                            "vICMS": {
                              "type": "number",
                              "example": 0
                            },
                            "vII": {
                              "type": "number",
                              "example": 0
                            },
                            "vFCPSTRet": {
                              "type": "number",
                              "example": 0
                            },
                            "vDESC": {
                              "type": "number",
                              "example": 0
                            },
                            "vOutro": {
                              "type": "number",
                              "example": 0
                            },
                            "vIPI": {
                              "type": "number",
                              "example": 0
                            },
                            "vFrete": {
                              "type": "number",
                              "example": 0
                            }
                          }
                        }
                      }
                    },
                    "pag": {
                      "type": "object",
                      "properties": {
                        "detPag": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "vPag": {
                                "type": "number",
                                "example": 265.79
                              },
                              "tPag": {
                                "type": "number",
                                "example": 99
                              }
                            }
                          }
                        }
                      }
                    },
                    "Id": {
                      "type": "string",
                      "example": "NFe87878774456468954646464654654546545446579312"
                    },
                    "ide": {
                      "type": "object",
                      "properties": {
                        "tpNF": {
                          "type": "integer",
                          "example": 1
                        },
                        "mod": {
                          "type": "integer",
                          "example": 55
                        },
                        "indPres": {
                          "type": "integer",
                          "example": 0
                        },
                        "tpImp": {
                          "type": "integer",
                          "example": 1
                        },
                        "nNF": {
                          "type": "integer",
                          "example": 1353368
                        },
                        "cMunFG": {
                          "type": "integer",
                          "example": 3534401
                        },
                        "procEmi": {
                          "type": "integer",
                          "example": 0
                        },
                        "finNFe": {
                          "type": "integer",
                          "example": 1
                        },
                        "dhEmi": {
                          "type": "string",
                          "example": "2019-07-22T09:33:31-03:00"
                        },
                        "tpAmb": {
                          "type": "integer",
                          "example": 1
                        },
                        "indFinal": {
                          "type": "integer",
                          "example": 1
                        },
                        "dhSaiEnt": {
                          "type": "string",
                          "example": "2019-07-22T09:33:31-03:00"
                        },
                        "idDest": {
                          "type": "integer",
                          "example": 1
                        },
                        "tpEmis": {
                          "type": "integer",
                          "example": 1
                        },
                        "cDV": {
                          "type": "integer",
                          "example": 0
                        },
                        "cUF": {
                          "type": "integer",
                          "example": 35
                        },
                        "serie": {
                          "type": "integer",
                          "example": 3
                        },
                        "natOp": {
                          "type": "string",
                          "example": "Outra saida merc./prestacao serv. nao espec."
                        },
                        "cNF": {
                          "type": "string",
                          "example": "00012763"
                        },
                        "verProc": {
                          "type": "string",
                          "example": "5.0.1500.2985"
                        }
                      }
                    },
                    "emit": {
                      "type": "object",
                      "properties": {
                        "CNAE": {
                          "type": "integer",
                          "example": 34324
                        },
                        "xNome": {
                          "type": "string",
                          "example": "ACME SERVICOS LTDA"
                        },
                        "IM": {
                          "type": "integer",
                          "example": 96852
                        },
                        "CRT": {
                          "type": "integer",
                          "example": 3
                        },
                        "xFant": {
                          "type": "string",
                          "example": "ACME SERVICOS LTDA"
                        },
                        "CNPJ": {
                          "type": "string",
                          "example": "ACME SERVICOS LTDA"
                        },
                        "enderEmit": {
                          "type": "object",
                          "properties": {
                            "fone": {
                              "type": "integer",
                              "example": 4534534534
                            },
                            "UF": {
                              "type": "string",
                              "example": "SP"
                            },
                            "xPais": {
                              "type": "string",
                              "example": "Brasil"
                            },
                            "cPais": {
                              "type": "integer",
                              "example": 1058
                            },
                            "xLgr": {
                              "type": "string",
                              "example": "SP"
                            },
                            "xMun": {
                              "type": "string",
                              "example": "Brasil"
                            },
                            "nro": {
                              "type": "integer",
                              "example": 628
                            },
                            "cMun": {
                              "type": "integer",
                              "example": 454545
                            },
                            "xBairro": {
                              "type": "string",
                              "example": "Bairro do Chaves"
                            },
                            "CEP": {
                              "type": "string",
                              "example": "06200000"
                            }
                          }
                        },
                        "IE": {
                          "type": "integer",
                          "example": 8465465454
                        }
                      }
                    },
                    "dest": {
                      "type": "object",
                      "properties": {
                        "xNome": {
                          "type": "string",
                          "example": "ACME SERVICOS LTDA"
                        },
                        "CNPJ": {
                          "type": "string",
                          "example": "4545345345345"
                        },
                        "enderDest": {
                          "type": "object",
                          "properties": {
                            "xCpl": {
                              "type": "string",
                              "example": "GALP 1 E 2"
                            },
                            "fone": {
                              "type": "integer",
                              "example": 4534534534
                            },
                            "UF": {
                              "type": "string",
                              "example": "SP"
                            },
                            "xPais": {
                              "type": "string",
                              "example": "Brasil"
                            },
                            "cPais": {
                              "type": "integer",
                              "example": 1058
                            },
                            "xLgr": {
                              "type": "string",
                              "example": "AV Paulista"
                            },
                            "xMun": {
                              "type": "string",
                              "example": "Oscasco"
                            },
                            "nro": {
                              "type": "integer",
                              "example": 628
                            },
                            "cMun": {
                              "type": "integer",
                              "example": 454545
                            },
                            "xBairro": {
                              "type": "string",
                              "example": "Bairro do Chaves"
                            },
                            "CEP": {
                              "type": "string",
                              "example": "06200000"
                            }
                          }
                        },
                        "IE": {
                          "type": "integer",
                          "example": 8465465454
                        },
                        "indIEDest": {
                          "type": "integer",
                          "example": 9
                        },
                        "email": {
                          "type": "string",
                          "example": "acme@acme.com"
                        }
                      }
                    },
                    "transp": {
                      "type": "object",
                      "properties": {
                        "modFrete": {
                          "type": "integer",
                          "example": 0
                        },
                        "vol": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "pesoL": {
                                "type": "number",
                                "example": 0.03
                              },
                              "qVol": {
                                "type": "integer",
                                "example": 1
                              },
                              "pesoB": {
                                "type": "number",
                                "example": 0.033
                              }
                            }
                          }
                        },
                        "transporta": {
                          "type": "object",
                          "properties": {
                            "xNone": {
                              "type": "string",
                              "example": "John Doe da Silva"
                            },
                            "UF": {
                              "type": "string",
                              "example": "SP"
                            },
                            "xEnder": {
                              "type": "string",
                              "example": "Rua 1"
                            },
                            "xMun": {
                              "type": "string",
                              "example": "Sao Paulo"
                            },
                            "CNPJ": {
                              "type": "string",
                              "example": "4654654654654"
                            },
                            "IE": {
                              "type": "integer",
                              "example": 8789789789
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "versao": {
              "type": "number",
              "example": 4
            }
          }
        },
        "procEventosNFe": {
          "type": "array",
          "items": {
            "properties": {
              "evento": {
                "type": "object",
                "properties": {
                  "infEvento": {
                    "type": "object",
                    "properties": {
                      "cOrgao": {
                        "type": "number",
                        "example": 91
                      },
                      "dhEvento": {
                        "type": "string",
                        "example": "2019-12-19T19:50:06-03:00"
                      },
                      "detEvento": {
                        "type": "object",
                        "properties": {
                          "descEvento": {
                            "type": "string",
                            "example": "Registro Passagem Automatico MDF-e com CT-e"
                          }
                        }
                      },
                      "tpEvento": {
                        "type": "string",
                        "example": 610554
                      }
                    }
                  }
                }
              },
              "retEvento": {
                "type": "object",
                "properties": {
                  "infEvento": {
                    "type": "object",
                    "properties": {
                      "cOrgao": {
                        "type": "number",
                        "example": 91
                      },
                      "nProt": {
                        "type": "number",
                        "example": 891193694384618
                      },
                      "dhRegEvento": {
                        "type": "string",
                        "example": "2019-12-19T19:50:06-03:00"
                      },
                      "tpEvento": {
                        "type": "string",
                        "example": 610554
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "Status": {
      "type": "object",
      "properties": {
        "lastUpdateAt": {
          "type": "string",
          "format": "date-time"
        }
      }
    }
  }
}
