{
  "host": "apigateway.serpro.gov.br",
  "security": [
    {
      "Bearer": []
    }
  ],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "info": {
    "version": "1.0",
    "title": "API NF-e DF",
    "description": "\n  ### Documentation in English click [`HERE.`](https://devserpro.github.io/apiserpro/apis/swagger-ui-master/dist/index.html?bearer=4e1a1858bdd584fdc077fb7d80f39283&url=https://devserpro.github.io/apiserpro/apis/swaggers/nfe/swagger-nfe-df-trial-bsa-en.json#!/) \n Para obtener información sobre cómo autenticarse antes de consumir las API, por favor, consulte la documentación en: http://devserpro.github.io/apiserpro/ \n\nos servicios de `Consulta Factura Electrónica` y `Push NFe` están disponibles a través de `HTTP REST`. Ofreciendo operaciones para consultar facturas electrónicas y también enviando notificaciones de actualizaciones de ciertas facturas, a través de su clave de acceso. \n<br>\n ## Servicio push NF-e \n\n El cliente recibe una notificación, informando de que un NF-e particular ya incluida en una solicitud de monitoreo ha sido actualizada. \n\n  Método post de notificación: \n\n  {  \n   \"chaveNFe\": \"CHAVE_NFE\", \n  \"dataHoraEnvio\": \"DATA_HORA\"  \n   }  \n\n El cliente debe implementar en su aplicación el tratamiento de este método Post.  \n<br>\n ## Códigos de retorno no tarifados de la consulta NF-e\n|  Código de retorno |  Resumido |  Explicación |\n| ------------- |:--------------------|:----------------------------------------------------------------------------- |\n| &nbsp;           | &nbsp;    | &nbsp;  | \n |400           | Solicitud no válida    | El número de chave ingresado no es válido.       |\n| &nbsp;           | &nbsp;    | &nbsp;  |\n| 404           | Not found    | No se encontró el número de clave informado. |\n| &nbsp;           | &nbsp;    | &nbsp;  |\n| 406           | Not Acceptable    | El formato del archivo de salida debe ser Json/Xml. |\n| &nbsp;           | &nbsp;    | &nbsp;  |\n| 500           | Error en el Servidor | Se produjo un error en el servidor.     |\n<br>\n ## Diseños y Formatos \n\n<br>La información de NF-e proporcionada está de acuerdo con el diseño NF-e, proporcionado por el Encuentro Nacional de Coordinadores y Administradores Tributarios del Estado (ENCAT). \n<br><br>\n Las Notas Técnicas con la información del diseño de NF-e están disponibles para su descarga en http://www.nfe.fazenda.gov.br/portal/listaConteudo.aspx?tipoConteudo=tW+YMyk/50s= \n<br><br>\n La estructura del JSON de retorno sigue las mismas especificaciones que los esquemas XML de los Web Services, disponibles en http://www.nfe.fazenda.gov.br/portal/listaConteudo.aspx?tipoConteudo=/fwLvLUSmU8= \n<br><br>\n Los campos `TIPO NUMÉRICO`, o JSON de retorno devolverá el campo en `formato numérico`. y si el valor numérico del campo es demasiado largo, el retorno puede aparecer en el json en `formato de notación científica`. Depende de la aplicación que consume el servicio API dar un manejo adecuado de los campos numéricos. \n<br>\n## Solicitud de firma de sello de tiempo\n\n  Si desea que su solicitud venga con una firma de Sello de Tiempo, simplemente incluya la información de la `x-signature:` en el encabezado de su solicitud `: 1`.\n  \n La firma será devuelta en el encabezado de la respuesta, con el nombre `stamp`.\n<br>\n## Comprobando firma de Sello de Tiempo\n\n  ara comprobar la firma del sello de tiempo, siga las instrucciones de la siguiente documentación:\n  \n[Documentación - Verificación de sello de tiempo](https://devserpro.github.io/apiserpro/apis/swagger-ui-master/dist/index.html?bearer=4e1a1858bdd584fdc077fb7d80f39283&url=https://devserpro.github.io/apiserpro/apis/swaggers/carimbo-tempo/swagger-timestampcheck-trial-bsa.json#!/default/post_check)\n<br>\n## Campo encabezado de la solicitud  (X-Request-Tag)\n\n  Este campo es opcional cuando se utilizan las llamadas a las APIs / Datavalid y sirve como identificador de solicitudes. Si una empresa necesita, por ejemplo, agrupar la cantidad de solicitudes realizadas por cada departamento, puede utilizar este campo para identificar en la facturación la cantidad de solicitudes para cada posición de agrupación. \n<br><br>\n El campo es de texto libre (string de hasta 32 caracteres) y no tiene validación de su contenido. Cabe, por lo tanto, al cliente mantener un control de la información que se envía a este campo para que el informe de facturación haga la agrupación adecuada. \n<br><br>\n Este atributo puede ser utilizado por la entidad de clase y/o el grupo económico en la modalidad global con entidad de carga con el fin de identificar al asociado que realiza la solicitud. En el caso de entidades de clase o grupos económicos que realicen la contratación con cargo para el asociado, no es necesario realizar la agrupación porque cada asociado tendrá su propia clave de consumo.\n<br>\n## Dirección base de Producción \n https://apigateway.serpro.gov.br/consulta-nfe-df/api \n<br>\n ## Dirección base de Degustación \n https://apigateway.serpro.gov.br/consulta-nfe-df-trial/api \n<br>\n## Ejemplo de Llamada y Retorno de la Consulta NF-e\n### Llamada\n    https://apigateway.serpro.gov.br/consulta-nfe-df-trial/api/v1/nfe/35161147508411011603551000077959551093041003 \n<br>\n ### Retorno \n\n   EL retorno será del tipo `arquivo.json` o `arquivo.xml`"
  },
  "basePath": "/consulta-nfe-df-trial/api",
  "paths": {
    "/v1/nfe/{clave}": {
      "get": {
        "tags": [
          "Consulta NFe"
        ],
        "summary": "Consulta Factura Electrónica",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": "Devuelve la información NF-e con la clave de acceso ingresada. \n### Facturas Electrónicas disponibles para Degustación\n| clave | Observacion |\n| ---------------------- | ----------|\n| 35170608530528000184550000000154301000771561 | |\n| 35161147508411011603551000077959551093041003 | |\n| 53131205035672000156550010000004991543410167 | |\n| 42140612687276000179550010001505671172228752 | |\n| 35140903608306000202555000001100251571436929 | |\n| 53150337992500000167550010000029521000029516 | |\n| 31150917591579000107550010000014321081035918 | |\n| 35151200991908000104550020000063951000184833 | |\n| 31160906347409006953550110008369841081956475 | |\n| 31170309339936000973550250002397736362483965 | |\n| 35160900623904000335550010028792431858713854 | |\n| 35170300776574000156550020009091941178378523 | |\n| 53160911510448000171550010000106771000187760 | |\n| 52160819015622000111550010000007051300828370 | |\n| 53160621182711000102550010000012921000042921 | |\n| 52160609303953000101550010000008711000045330 | |\n| 53151205642646000196550010000287891000219878 | |\n| 53160713453539000148550010000009101000070190 | |\n| 52151013766790000162550010000028401250000010 | |\n| 53160705642646000196550010000298141000284189 | |\n| 52160400945852000151550010000041771020601080 | |\n| 24190201243220000109550010000007251000007252 | |\n| 24190420412822000197550010000004701000001816 | |\n| 25190400785860000188550010000000061000000868 | |\n| 29190332994770000193550020000000107000000124 | |\n| 33190403282458000179550010001434641841176079 | |\n| 87878774456468954646464654654546545446579312 | Este NFe tiene todos los arrays |\n|",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "clave",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Clave de acceso de NF-e (44 dígitos, sin espacios)"
          },
          {
            "description": "Solicitud de firma de sello de tiempo. Ingrese 1 para firmar, o deje en blanco para no firmar. ",
            "name": "X-signature",
            "in": "header",
            "type": "string"
          },
          {
            "description": "Campo opcional para identificar solicitudes. El contenido es de texto libre para que el cliente pueda identificar el origen de la solicitud, no hay validación de su contenido por parte de la API. Máximo 32 caracteres",
            "name": "X-Request-Tag",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve los datos NF-e correspondientes a la clave de acceso ingresada",
            "schema": {
              "$ref": "#/definitions/NFe"
            }
          },
          "400": {
            "description": "La clave de acceso ingresada no es válida."
          },
          "404": {
            "description": "No existe NF-e con la clave de acceso informada."
          },
          "406": {
            "description": "El formato del archivo de salida debe ser Json/Xml."
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/v1/nfe/push/clientes": {
      "post": {
        "tags": [
          "Push NFe - Clientes"
        ],
        "summary": "Registra información del cliente ",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": " \n\n## Ejemplo\n#### Llamada\n\n    https://apigateway.serpro.gov.br/consulta-nfe-df-trial/api/v1/nfe/push/clientes\n    \n    \n\n#### Terminaciones de URL\n\n    Las solicitudes de monitoreo del cliente solo serán notificadas si las URL registradas terminan con .br o .com. Ver los ejemplos:                                              https://url_cliente.com                                                                   https://url_cliente.br \n\n#### Contenido  de entrada\n    { \n      \"urlNotificacao\": \"https://url_cliente.com\" \n    }\n\n                      ou \n\n    { \n      \"urlNotificacao\": \"https://url_cliente.br\" \n    } \n  #### Retorno\n    { \n      \"Id\": \"000000000000000\", \n      \"urlNotificacao\": \"https://url_cliente.com\", \n      \"dataCriacao\": \"2019-12-20T03:00:00.000Z\" \n    } \n\n                      ou \n\n    { \n      \"Id\": \"000000000000000\", \n      \"urlNotificacao\": \"https://url_cliente.br\", \n      \"dataCriacao\": \"2019-12-20T03:00:00.000Z\" \n    } ",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Datos del cliente",
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/cadastrarCliente"
            }
          },
          {
            "description": "Solicitud de firma de sello de tiempo. Ingrese 1 para firmar, o deje en blanco para no firmar.",
            "name": "X-signature",
            "in": "header",
            "type": "string"
          },
          {
            "description": "Campo opcional para identificar solicitudes. El contenido es de texto libre para que el cliente pueda identificar el origen de la solicitud, no hay validación de su contenido por parte de la API. Máximo 32 caracteres.",
            "name": "X-Request-Tag",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Cliente registrado con éxito.",
            "schema": {
              "$ref": "#/definitions/confirmacaoCadastramentoCliente"
            }
          },
          "400": {
            "description": "Valor de 'urlNotificacao' no válido."
          },
          "500": {
            "description": "Error interno del servidor."
          }
        }
      },
      "put": {
        "tags": [
          "Push NFe - Clientes"
        ],
        "summary": "Actualizar información del cliente",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": " \n\n## Ejemplo\n#### Llamada\n\n    https://apigateway.serpro.gov.br/consulta-nfe-df-trial/api/v1/nfe/push/clientes \n    \n    \n\n#### Terminaciones de URL\n\n    Las solicitudes de monitoreo del cliente solo serán notificadas si las URL registradas terminan con .br o .com. Ver los ejemplos:                                              https://url_cliente.com                                                                   https://url_cliente.br \n\n#### Contenido de entrada\n    { \n      \"urlNotificacao\": \"https://url_cliente.com\" \n    }\n\n                      ou \n\n    { \n      \"urlNotificacao\": \"https://url_cliente.br\" \n    } \n  #### Retorno\n    { \n      \"mensagem\": \"Dados alterados com sucesso.\"\n    } ",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Datos del cliente",
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/atualizarCliente"
            }
          },
          {
            "description": "Solicitud de firma de sello de tiempo. Ingrese 1 para firmar, o deje en blanco para no firmar.",
            "name": "X-signature",
            "in": "header",
            "type": "string"
          },
          {
            "description": "Campo opcional para identificar solicitudes. El contenido es de texto libre para que el cliente pueda identificar el origen de la solicitud, no hay validación de su contenido por parte de la API. Máximo 32 caracteres.",
            "name": "X-Request-Tag",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Los datos cambiaron con éxito."
          },
          "400": {
            "description": "Valor de 'urlNotificacao' no válido."
          },
          "500": {
            "description": "Error interno del servidor."
          }
        }
      },
      "get": {
        "tags": [
          "Push NFe - Clientes"
        ],
        "summary": "Consulta información del cliente",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": "## Ejemplo\n#### Llamada\n\n    https://apigateway.serpro.gov.br/consulta-nfe-df-trial/api/v1/nfe/push/clientes \n    \n    \n\n#### Terminaciones de URL\n\n    Las solicitudes de monitoreo del cliente solo serán notificadas si las URL registradas terminan con .br o .com. Ver los ejemplos:                                              https://url_cliente.com                                                                   https://url_cliente.br \n\n#### Contenido de entrada\n    { \n      \"urlNotificacao\": \"https://url_cliente.com\" \n    }\n\n                      ou \n\n    { \n      \"urlNotificacao\": \"https://url_cliente.br\" \n    } \n  #### Retorno\n    { \n      \"mensagem\": \"Dados alterados com sucesso.\"\n    } ",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Solicitud de firma de sello de tiempo. Ingrese 1 para firmar, o deje en blanco para no firmar.",
            "name": "X-signature",
            "in": "header",
            "type": "string"
          },
          {
            "description": "Campo opcional para identificar solicitudes. El contenido es de texto libre para que el cliente pueda identificar el origen de la solicitud, no hay validación de su contenido por parte de la API. Máximo 32 caracteres.",
            "name": "X-Request-Tag",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve datos del cliente",
            "schema": {
              "$ref": "#/definitions/consultarClientes"
            }
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/v1/nfe/push/solicitacoes": {
      "post": {
        "tags": [
          "Push NFe - Solicitações"
        ],
        "summary": "Incluir solicitud de monitoreo",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": " \n\n## Ejemplo\n#### Llamada\n\n    https://apigateway.serpro.gov.br/consulta-nfe-df-trial/api/v1/nfe/push/solicitacoes \n\n    El cliente puede incluir, a partir de una solicitud, varias facturas electrónicas para ser monitoreadas. \n\n      \n#### Contenido de entrada\n    { \n      \"chavesMonitoracao\": [ \n         \"43190788910252000603550010000375791937008290\",\n         \"43190788910252000603550010000375791937008291\"\n      ]    \n    } \n  ####  Retorno\n    { \n      \"solicitacaoId\": \"lOYKqr7HfhcDuJA\", \n      \"chavesMonitoracao\": [ \n         \"43190788910252000603550010000375791937008290\", \n         \"43190788910252000603550010000375791937008291\"\n      ], \n      \"dataCriacao\": \"2019-11-20T15:57:39.917Z\", \n      \"dataExpiracao\": \"2019-12-20T03:00:00.000Z\", \n      \"clienteId\": \"00000000000000\" \n    } ",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Datos de solicitud de monitoreo a generar",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/incluirSolicitacao"
            }
          },
          {
            "description": "Solicitud de firma de sello de tiempo. Ingrese 1 para firmar, o deje en blanco para no firmar.",
            "name": "X-signature",
            "in": "header",
            "type": "string"
          },
          {
            "description": "Campo opcional para identificar solicitudes. El contenido es de texto libre para que el cliente pueda identificar el origen de la solicitud, no hay validación de su contenido por parte de la API. Máximo 32 caracteres",
            "name": "X-Request-Tag",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Datos de confirmación de inclusión de solicitud de devolución.",
            "schema": {
              "$ref": "#/definitions/confirmacaoSolicitacao"
            }
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      },
      "get": {
        "tags": [
          "Push NFe - Solicitações"
        ],
        "summary": "Consulta todas las solicitudes de monitoreo de un cliente",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": " ## Ejemplo\n#### Llamada\n\n    https://apigateway.serpro.gov.br/consulta-nfe-df-trial/api/v1/nfe/push/solicitacoes\n    \n #### Contenido de entrada \n    {\n      \"url\": \"https://valapinfe2.estaleiro.serpro.gov.br/push/solicitacoes\" \n    } \n  #### \n  #### Retorno \n    [ \n      { \n        \"solicitacaoId\": \"al2sDBn6KNVpleB\", \n        \"clienteId\": \"00000000000000\", \n        \"urlNotificacao\": \"https://url_cliente.com\", \n        \"dataCriacao\": \"2019-11-20T15:57:18.793Z\", \n        \"dataExpiracao\": \"2019-12-20T03:00:00.000Z\", \n        \"chavesMonitoracao\": [ \n            { \n              \"chave\": \"43190788910252000603550010000375791937008290\", \n              \"entregue\": false, \n              \"dataEntrega\": \"2019-11-21T15:15:01.212Z\" \n            }, \n            { \n              \"chave\": \"43190788910252000603550010000375791937008291\", \n              \"entregue\": false, \n              \"dataEntrega\": \"2019-11-21T15:15:02.213Z\" \n            } \n         ] \n      }, \n      { \n        \"solicitacaoId\": \"dbo5wvBsVy52kpY\", \n        \"clienteId\": \"00000000000000\", \n        \"urlNotificacao\": \"http://url_cliente.com\", \n        \"dataCriacao\": \"2019-11-20T15:57:18.793Z\", \n        \"dataExpiracao\": \"2019-12-20T03:00:00.000Z\", \n        \"chavesMonitoracao\": [ \n            { \n              \"chave\": \"43190788910252000603550010000375791937008292\", \n              \"entregue\": false, \n              \"dataEntrega\": \"2019-11-21T15:15:03.212Z\" \n            }, \n            { \n              \"chave\": \"43190788910252000603550010000375791937008293\", \n              \"entregue\": false, \n              \"dataEntrega\": \"2019-11-21T15:15:04.213Z\" \n            } \n         ] \n      } \n       \n    ] ",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Solicitud de firma de sello de tiempo. Ingrese 1 para firmar, o deje en blanco para no firmar.",
            "name": "X-signature",
            "in": "header",
            "type": "string"
          },
          {
            "description": "Campo opcional para identificar solicitudes. El contenido es de texto libre para que el cliente pueda identificar el origen de la solicitud, no hay validación de su contenido por parte de la API. Máximo 32 caracteres",
            "name": "X-Request-Tag",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve todas las solicitudes de un cliente.",
            "schema": {
              "$ref": "#/definitions/consultarSolicitacoes"
            }
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/v1/nfe/push/solicitacoes/{solicitacaoId}": {
      "get": {
        "tags": [
          "Push NFe - Solicitações"
        ],
        "summary": "Consultar una solicitud de monitoreo específica de un cliente",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": " \n\n## Ejemplo\n #### Solicitud para degustación: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  al2sDBn6KNVpleB <br><br><br>\n  #### Llamada\n\n    https://apigateway.serpro.gov.br/consulta-nfe-df-trial/api/v1/nfe/push/solicitacoes/{solicitacaoId}\n    \n     \n  #### Retorno\n    { \n        \"solicitacaoId\": \"al2sDBn6KNVpleB\", \n        \"clienteId\": \"00000000000000\", \n        \"urlNotificacao\": \"https://url_cliente.com\", \n        \"dataCriacao\": \"2019-11-20T15:57:18.793Z\", \n        \"dataExpiracao\": \"2019-12-20T03:00:00.000Z\", \n        \"chavesMonitoracao\": [ \n            { \n              \"chave\": \"43190788910252000603550010000375791937008290\", \n              \"entregue\": false, \n              \"dataEntrega\": \"2019-11-21T15:15:00.212Z\" \n            }, \n            { \n              \"chave\": \"43190788910252000603550010000375791937008291\", \n              \"entregue\": false, \n              \"dataEntrega\": \"2019-11-21T15:15:00.213Z\" \n            } \n         ] \n    } \n \n",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "solicitacaoId",
            "in": "path",
            "description": "Código de la solicitud",
            "required": true,
            "type": "string"
          },
          {
            "description": "Solicitud de firma de sello de tiempo. Ingrese 1 para firmar, o deje en blanco para no firmar.",
            "name": "X-signature",
            "in": "header",
            "type": "string"
          },
          {
            "description": "Campo opcional para identificar solicitudes. El contenido es de texto libre para que el cliente pueda identificar el origen de la solicitud, no hay validación de su contenido por parte de la API. Máximo 32 caracteres",
            "name": "X-Request-Tag",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve los datos de una solicitud dada.",
            "schema": {
              "$ref": "#/definitions/consultarSolicitacao"
            }
          },
          "404": {
            "description": "No se encontró la solicitud informada."
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      },
      "delete": {
        "tags": [
          "Push NFe - Solicitações"
        ],
        "summary": "Eliminar una determinada solicitud de monitoreo",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": " \n\n## Ejemplo\n #### Solicitud para degustación: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;al2sDBn6KNVpleB \n<br>\n  #### Llamada\n\n    https://apigateway.serpro.gov.br/consulta-nfe-df-trial/api/v1/nfe/push/solicitacoes/{solicitacaoId} \n\n#### Retorno\n    { \n        \"mensagem\": \"Solicitação excluída com sucesso.\"\n    } \n",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "solicitacaoId",
            "in": "path",
            "description": "Código de la solicitud",
            "required": true,
            "type": "string"
          },
          {
            "description": "Solicitud de firma de sello de tiempo. Ingrese 1 para firmar, o deje en blanco para no firmar.",
            "name": "X-signature",
            "in": "header",
            "type": "string"
          },
          {
            "description": "Campo opcional para identificar solicitudes. El contenido es de texto libre para que el cliente pueda identificar el origen de la solicitud, no hay validación de su contenido por parte de la API. Máximo 32 caracteres",
            "name": "X-Request-Tag",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Solicitud eliminada con éxito."
          },
          "404": {
            "description": "No se encontró la solicitud informada."
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/status": {
      "get": {
        "tags": [
          "Status"
        ],
        "summary": "Verificar estado de API",
        "responses": {
          "200": {
            "description": "Servicio disponible",
            "schema": {
              "$ref": "#/definitions/Status"
            },
            "examples": {
              "lastUpdateAt": "2019-02-18T11:27:06-03:00"
            }
          },
          "500": {
            "description": "Servicio no disponible",
            "schema": {
              "$ref": "#/definitions/Status"
            },
            "examples": {
              "lastUpdateAt": "2019-02-18T11:27:06-03:00"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "cadastrarCliente": {
      "type": "object",
      "properties": {
        "urlNotificacao": {
          "type": "string"
        }
      }
    },
    "confirmacaoCadastramentoCliente": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "urlNotificacao": {
          "type": "string"
        },
        "dataCriacao": {
          "type": "string"
        }
      }
    },
    "atualizarCliente": {
      "type": "object",
      "properties": {
        "urlNotificacao": {
          "type": "string"
        }
      }
    },
    "consultarClientes": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "urlNotificacao": {
          "type": "string"
        },
        "dataCriacao": {
          "type": "string"
        },
        "dataAtualizacao": {
          "type": "string"
        }
      }
    },
    "incluirSolicitacao": {
      "type": "object",
      "properties": {
        "chavesMonitoracao": {
          "type": "array",
          "items": {
            "properties": {
              "chave": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "confirmacaoSolicitacao": {
      "type": "object",
      "properties": {
        "solicitacaoId": {
          "type": "string"
        },
        "chavesMonitoracao": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "chave": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "consultarSolicitacoes": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "solicitacaoId": {
            "type": "string"
          },
          "clienteId": {
            "type": "string"
          },
          "urlNotificacao": {
            "type": "string"
          },
          "dataCriacao": {
            "type": "string"
          },
          "dataExperiracao": {
            "type": "string"
          },
          "chavesMonitoracao": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "chave": {
                  "type": "string"
                },
                "entregue": {
                  "type": "string"
                },
                "dataEntrega": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "consultarSolicitacao": {
      "type": "object",
      "properties": {
        "solicitacaoId": {
          "type": "string"
        },
        "clienteId": {
          "type": "string"
        },
        "urlNotificacao": {
          "type": "string"
        },
        "dataCriacao": {
          "type": "string"
        },
        "dataExperiracao": {
          "type": "string"
        },
        "chavesMonitoracao": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "chave": {
                "type": "string"
              },
              "entregue": {
                "type": "string"
              },
              "dataEntrega": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "NFe": {
      "type": "object",
      "properties": {
        "nfeProc": {
          "type": "object",
          "properties": {
            "protNFe": {
              "type": "object",
              "properties": {
                "infProt": {
                  "type": "object",
                  "properties": {
                    "nProt": {
                      "type": "integer",
                      "example": 55455534534
                    },
                    "digVal": {
                      "type": "string",
                      "example": "jfdgh76tr542786rteuhyfbwef8="
                    },
                    "dhRecbto": {
                      "type": "string",
                      "example": "2019-07-22T09:34:06-03:00"
                    },
                    "Id": {
                      "type": "string",
                      "example": "Id445345345"
                    },
                    "chNFe": {
                      "type": "string",
                      "example": "87878774456468954646464654654546545446579312"
                    },
                    "xMotivo": {
                      "type": "string",
                      "example": "Autorizado o uso da NF-e"
                    },
                    "cStat": {
                      "type": "number",
                      "example": 100
                    }
                  }
                }
              }
            },
            "NFe": {
              "type": "object",
              "properties": {
                "infNFe": {
                  "type": "object",
                  "properties": {
                    "infAdic": {
                      "type": "object",
                      "properties": {
                        "infCpl": {
                          "type": "string",
                          "example": "Lorem ipsum dolor..."
                        },
                        "obsCont": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "xCampo": {
                                "type": "string",
                                "example": "LEI DA TRANSPARENCIA"
                              },
                              "xTexto": {
                                "type": "string",
                                "example": "O VALOR APROXIMADO DE TRIBUTOS INCIDENTES SOBRE O PRECO DESTE SERVICO E DE R$ 5.62 (16.06) FONTE: IBPT"
                              }
                            }
                          }
                        }
                      }
                    },
                    "det": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "nItem": {
                            "type": "integer",
                            "example": 1
                          },
                          "prod": {
                            "type": "object",
                            "properties": {
                              "cEAN": {
                                "type": "string",
                                "example": "SEM GTIN"
                              },
                              "cProd": {
                                "type": "string",
                                "example": "JC59-00035A-SI"
                              },
                              "qCom": {
                                "type": "number",
                                "example": 1
                              },
                              "cEANTrib": {
                                "type": "string",
                                "example": "SEM GTIN"
                              },
                              "vUnTrib": {
                                "type": "number",
                                "example": 265.79
                              },
                              "qTrib": {
                                "type": "number",
                                "example": 1
                              },
                              "vProd": {
                                "type": "number",
                                "example": 265.79
                              },
                              "xProd": {
                                "type": "string",
                                "example": "UNIDADE DE DISCO RIGIDO 320GB"
                              },
                              "vUnCom": {
                                "type": "number",
                                "example": 265.79
                              },
                              "indTot": {
                                "type": "integer",
                                "example": 1
                              },
                              "uTrib": {
                                "type": "string",
                                "example": "UN"
                              },
                              "NCM": {
                                "type": "integer",
                                "example": 84717012
                              },
                              "uCom": {
                                "type": "string",
                                "example": "UN"
                              },
                              "CFOP": {
                                "type": "integer",
                                "example": 5949
                              },
                              "CEST": {
                                "type": "integer",
                                "example": 2103300
                              },
                              "rastro": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "nLote": {
                                      "type": "string",
                                      "example": "Lote 1"
                                    },
                                    "qLote": {
                                      "type": "number",
                                      "example": 18
                                    },
                                    "dFab": {
                                      "type": "string",
                                      "example": "2019-07-22"
                                    },
                                    "dVal": {
                                      "type": "string",
                                      "example": "2020-06-22"
                                    },
                                    "cAgreg": {
                                      "type": "string",
                                      "example": "Agregador 1"
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "imposto": {
                            "type": "object",
                            "properties": {
                              "ICMS": {
                                "type": "object",
                                "properties": {
                                  "ICMS40": {
                                    "type": "object",
                                    "properties": {
                                      "orig": {
                                        "type": "integer",
                                        "example": 1
                                      },
                                      "CST": {
                                        "type": "integer",
                                        "example": 41
                                      }
                                    }
                                  }
                                }
                              },
                              "IPI": {
                                "type": "object",
                                "properties": {
                                  "IPINT": {
                                    "type": "object",
                                    "properties": {
                                      "CST": {
                                        "type": "integer",
                                        "example": 53
                                      }
                                    }
                                  },
                                  "cEnq": {
                                    "type": "integer",
                                    "example": 999
                                  }
                                }
                              },
                              "COFINS": {
                                "type": "object",
                                "properties": {
                                  "COFINSNT": {
                                    "type": "object",
                                    "properties": {
                                      "CST": {
                                        "type": "string",
                                        "example": "07"
                                      }
                                    }
                                  }
                                }
                              },
                              "PIS": {
                                "type": "object",
                                "properties": {
                                  "PISNT": {
                                    "type": "object",
                                    "properties": {
                                      "CST": {
                                        "type": "string",
                                        "example": "07"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "object",
                      "properties": {
                        "ICMSTot": {
                          "type": "object",
                          "properties": {
                            "vCOFINS": {
                              "type": "number",
                              "example": 0
                            },
                            "vBCST": {
                              "type": "number",
                              "example": 0
                            },
                            "vICMSDeson": {
                              "type": "number",
                              "example": 0
                            },
                            "vProd": {
                              "type": "number",
                              "example": 265.79
                            },
                            "vSeg": {
                              "type": "number",
                              "example": 0
                            },
                            "vFCP": {
                              "type": "number",
                              "example": 0
                            },
                            "vFCPST": {
                              "type": "number",
                              "example": 0
                            },
                            "vNF": {
                              "type": "number",
                              "example": 0
                            },
                            "vPIS": {
                              "type": "number",
                              "example": 0
                            },
                            "vIPIDevol": {
                              "type": "number",
                              "example": 0
                            },
                            "vBC": {
                              "type": "number",
                              "example": 0
                            },
                            "vST": {
                              "type": "number",
                              "example": 0
                            },
                            "vICMS": {
                              "type": "number",
                              "example": 0
                            },
                            "vII": {
                              "type": "number",
                              "example": 0
                            },
                            "vFCPSTRet": {
                              "type": "number",
                              "example": 0
                            },
                            "vDesc": {
                              "type": "number",
                              "example": 0
                            },
                            "vOutro": {
                              "type": "number",
                              "example": 0
                            },
                            "vIPI": {
                              "type": "number",
                              "example": 0
                            },
                            "vFrete": {
                              "type": "number",
                              "example": 0
                            }
                          }
                        }
                      }
                    },
                    "pag": {
                      "type": "object",
                      "properties": {
                        "detPag": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "vPag": {
                                "type": "number",
                                "example": 265.79
                              },
                              "tPag": {
                                "type": "number",
                                "example": 99
                              }
                            }
                          }
                        }
                      }
                    },
                    "Id": {
                      "type": "string",
                      "example": "NFe87878774456468954646464654654546545446579312"
                    },
                    "ide": {
                      "type": "object",
                      "properties": {
                        "tpNF": {
                          "type": "integer",
                          "example": 1
                        },
                        "mod": {
                          "type": "integer",
                          "example": 55
                        },
                        "indPres": {
                          "type": "integer",
                          "example": 0
                        },
                        "tpImp": {
                          "type": "integer",
                          "example": 1
                        },
                        "nNF": {
                          "type": "integer",
                          "example": 1353368
                        },
                        "cMunFG": {
                          "type": "integer",
                          "example": 3534401
                        },
                        "procEmi": {
                          "type": "integer",
                          "example": 0
                        },
                        "finNFe": {
                          "type": "integer",
                          "example": 1
                        },
                        "dhEmi": {
                          "type": "string",
                          "example": "2019-07-22T09:33:31-03:00"
                        },
                        "tpAmb": {
                          "type": "integer",
                          "example": 1
                        },
                        "indFinal": {
                          "type": "integer",
                          "example": 1
                        },
                        "dhSaiEnt": {
                          "type": "string",
                          "example": "2019-07-22T09:33:31-03:00"
                        },
                        "idDest": {
                          "type": "integer",
                          "example": 1
                        },
                        "tpEmis": {
                          "type": "integer",
                          "example": 1
                        },
                        "cDV": {
                          "type": "integer",
                          "example": 0
                        },
                        "cUF": {
                          "type": "integer",
                          "example": 35
                        },
                        "serie": {
                          "type": "integer",
                          "example": 3
                        },
                        "natOp": {
                          "type": "string",
                          "example": "Outra saida merc./prestacao serv. nao espec."
                        },
                        "cNF": {
                          "type": "string",
                          "example": "00012763"
                        },
                        "verProc": {
                          "type": "string",
                          "example": "5.0.1500.2985"
                        }
                      }
                    },
                    "emit": {
                      "type": "object",
                      "properties": {
                        "CNAE": {
                          "type": "integer",
                          "example": 34324
                        },
                        "xNome": {
                          "type": "string",
                          "example": "ACME SERVICOS LTDA"
                        },
                        "IM": {
                          "type": "integer",
                          "example": 96852
                        },
                        "CRT": {
                          "type": "integer",
                          "example": 3
                        },
                        "xFant": {
                          "type": "string",
                          "example": "ACME SERVICOS LTDA"
                        },
                        "CNPJ": {
                          "type": "string",
                          "example": "ACME SERVICOS LTDA"
                        },
                        "enderEmit": {
                          "type": "object",
                          "properties": {
                            "fone": {
                              "type": "integer",
                              "example": 4534534534
                            },
                            "UF": {
                              "type": "string",
                              "example": "SP"
                            },
                            "xPais": {
                              "type": "string",
                              "example": "Brasil"
                            },
                            "cPais": {
                              "type": "integer",
                              "example": 1058
                            },
                            "xLgr": {
                              "type": "string",
                              "example": "SP"
                            },
                            "xMun": {
                              "type": "string",
                              "example": "Brasil"
                            },
                            "nro": {
                              "type": "integer",
                              "example": 628
                            },
                            "cMun": {
                              "type": "integer",
                              "example": 454545
                            },
                            "xBairro": {
                              "type": "string",
                              "example": "Bairro do Chaves"
                            },
                            "CEP": {
                              "type": "string",
                              "example": "06200000"
                            }
                          }
                        },
                        "IE": {
                          "type": "integer",
                          "example": 8465465454
                        }
                      }
                    },
                    "dest": {
                      "type": "object",
                      "properties": {
                        "xNome": {
                          "type": "string",
                          "example": "ACME SERVICOS LTDA"
                        },
                        "CNPJ": {
                          "type": "string",
                          "example": "4545345345345"
                        },
                        "enderDest": {
                          "type": "object",
                          "properties": {
                            "xCpl": {
                              "type": "string",
                              "example": "GALP 1 E 2"
                            },
                            "fone": {
                              "type": "integer",
                              "example": 4534534534
                            },
                            "UF": {
                              "type": "string",
                              "example": "SP"
                            },
                            "xPais": {
                              "type": "string",
                              "example": "Brasil"
                            },
                            "cPais": {
                              "type": "integer",
                              "example": 1058
                            },
                            "xLgr": {
                              "type": "string",
                              "example": "AV Paulista"
                            },
                            "xMun": {
                              "type": "string",
                              "example": "Oscasco"
                            },
                            "nro": {
                              "type": "integer",
                              "example": 628
                            },
                            "cMun": {
                              "type": "integer",
                              "example": 454545
                            },
                            "xBairro": {
                              "type": "string",
                              "example": "Bairro do Chaves"
                            },
                            "CEP": {
                              "type": "string",
                              "example": "06200000"
                            }
                          }
                        },
                        "IE": {
                          "type": "integer",
                          "example": 8465465454
                        },
                        "indIEDest": {
                          "type": "integer",
                          "example": 9
                        },
                        "email": {
                          "type": "string",
                          "example": "acme@acme.com"
                        }
                      }
                    },
                    "transp": {
                      "type": "object",
                      "properties": {
                        "modFrete": {
                          "type": "integer",
                          "example": 0
                        },
                        "vol": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "pesoL": {
                                "type": "number",
                                "example": 0.03
                              },
                              "qVol": {
                                "type": "integer",
                                "example": 1
                              },
                              "pesoB": {
                                "type": "number",
                                "example": 0.033
                              }
                            }
                          }
                        },
                        "transporta": {
                          "type": "object",
                          "properties": {
                            "xNome": {
                              "type": "string",
                              "example": "John Doe da Silva"
                            },
                            "UF": {
                              "type": "string",
                              "example": "SP"
                            },
                            "xEnder": {
                              "type": "string",
                              "example": "Rua 1"
                            },
                            "xMun": {
                              "type": "string",
                              "example": "Sao Paulo"
                            },
                            "CNPJ": {
                              "type": "string",
                              "example": "4654654654654"
                            },
                            "IE": {
                              "type": "integer",
                              "example": 8789789789
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "versao": {
              "type": "number",
              "example": 4
            }
          }
        },
        "procEventoNFe": {
          "type": "array",
          "items": {
            "properties": {
              "evento": {
                "type": "object",
                "properties": {
                  "infEvento": {
                    "type": "object",
                    "properties": {
                      "cOrgao": {
                        "type": "integer",
                        "example": 91
                      },
                      "dhEvento": {
                        "type": "string",
                        "example": "2019-12-19T19:50:06-03:00"
                      },
                      "detEvento": {
                        "type": "object",
                        "properties": {
                          "descEvento": {
                            "type": "string",
                            "example": "Registro Passagem Automatico MDF-e com CT-e"
                          }
                        }
                      },
                      "tpEvento": {
                        "type": "integer",
                        "example": 610554
                      }
                    }
                  }
                }
              },
              "retEvento": {
                "type": "object",
                "properties": {
                  "infEvento": {
                    "type": "object",
                    "properties": {
                      "cOrgao": {
                        "type": "integer",
                        "example": 91
                      },
                      "nProt": {
                        "type": "integer",
                        "example": 891193694384618
                      },
                      "dhRegEvento": {
                        "type": "string",
                        "example": "2019-12-19T19:50:06-03:00"
                      },
                      "tpEvento": {
                        "type": "integer",
                        "example": 610554
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "Status": {
      "type": "object",
      "properties": {
        "lastUpdateAt": {
          "type": "string",
          "format": "date-time"
        }
      }
    }
  }
}
